/* gnatt.css */

.gnatt_vgroup_block { 
	width:20em; 
	position:relative; 
	background:#dde;
	color: #888;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
	margin-bottom: 0.2em;
} 

.gnatt_date_header {  
	width:8em;"
	color: #888;
}

.gnatt_date_time_header { 
color: #999;
}

.gnatt_date_block {
	display:inline-block; 
	/*border:1px solid #686;*/
}

.gnatt_date_time_block {
	display:inline-block;"	
	text-align: right;
	font-size: 80%;
	font-weight: bold;
	width: 2em;
	color: #444;
}