<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<!--
Copyright 2010, 2011, 2012 Martin Eliasson

This file is part of Hollyrosa

Hollyrosa is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Hollyrosa is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Hollyrosa.  If not, see <http://www.gnu.org/licenses/>.

-->

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />

<head>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
  <title>Hollyrosa - About</title>
</head>

<body>
    <h1>About Hollyrosa</h1>
    <p><i>Hollyrosa</i> is a program booking system built for <i>the program crew</i> at the <a href="http://www.vassaro.nu">Vässarö</a> Scout Centre. The purpose of Hollyrosa is to handle all program bookings for the eight week summer season. <i>Hollyrosa</i> is designed to enhance communication and visualization of all bookings. <i>Hollyrosa</i> was first tested in the summer of 2010 and first fligth was very successfull. What we learned has been incorporated for the summer of 2011 edition of <i>Hollyrosa</i> currently in use.</p>
    <p>Right now, around Christmas of 2011, the 2012 edition of the system is developed and the big change is that the whole database system is switched ovet to CouchDB. It's a big change that will enable us to operate the booking system on aa simple laptop even if the internet is down and the power is gone, things that happen from time to time in the archipelago. </p>
    <p><i>Hollyrosa</i> is actively being developed by Martin Eliasson.</p>
<h2>Copyright</h2>
<p>
Hollyrosa is Copyright 2010, 2011, 2012 Martin Eliasson
</p>
<h2>License</h2>
<img alt="AGPL logo" src="images/agplv3-88x31.png"/>
<p>
Hollyrosa is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Hollyrosa is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Hollyrosa.  If not, see <a href="http://www.gnu.org/licenses/">http://www.gnu.org/licenses/</a>.

</p>
    <h2>Documentation</h2>
    <p>TBD</p>
    <h2>Bug Reports</h2>
    <p>TBD</p>
    <h2>Technology and Thanks</h2>
<img alt="TG2 logo" src="images/under_the_hood_blue.png"/> 
    <p><i>Hollyrosa</i> uses the <a href="http://www.turbogears.org">Turbogears2</a> (TG2) mega framework for building database backed websites. <a href="http://python.org">In Python</a>. It contains a bunch of frameworks you don't want to miss. Especially not SQLAlchemy. </p>
    <p><i>Hollyrosa</i> uses the <a href="http://dojotoolkit.org">Dojo</a> JavaScript framework for a lot of dynamic action.</p>
    <p>The database is CouchDB (it used to be either SQLite or MySQL. SQLAlchemy handles both and a few more I haven't tested.)</p>
    <p>Thanks to Jossan for patiently testing the system for real.</p>
    <h2>About Martin</h2>
    <p>Martin is kind of resident program manager at Vässarö for the second half of the summer season. Martin has been codeing since Amiga's ruled. Which has lead to a proffessional career as solutions architet and developer.</p>
    <p>It also happens that Martin makes music. And party. But that's another story.</p>
    <p>Oh, and theres a few blogs and sites he runs too: <a href="http://asplunden/guldkant/">Guldkant</a></p>
</body>
</html>
