<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<!--
Copyright 2010-2015 Martin Eliasson

This file is part of Hollyrosa

Hollyrosa is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Hollyrosa is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Hollyrosa.  If not, see <http://www.gnu.org/licenses/>.

-->

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:py="http://genshi.edgewall.org/" xmlns:hollyrosa="http://asplunden.org/guldkant/hollyrosa" xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />


<head>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
  <title>Hollyrosa Program Day - ${booking_day.date}</title>
  
  <link rel="stylesheet" type="text/css" href="${tg.url('/scripts/dojo-release-1.8.0/dijit/themes/tundra/tundra.css')}" />
<style type="text/css">
            .tundra table.dijitCalendarContainer { margin: 25px auto; } #formatted
            { text-align: center; }
        </style>
        
  <script type="text/javascript" src="${tg.url('/scripts/std.js')}" />
  <script src="${tg.url('/scripts/dojo-release-1.8.0/dojo/dojo.js')}" data-dojo-config="async: true"></script>
  <script>

require(["dojo/dom", "dojo/query!css2", "dojo/dom-form", "dojo/dom-attr", "dojo/_base/array", "dojo/query", "dojo/cookie", "dojo/date", "dijit/Calendar", "dojo/on", "dojo/parser", "dojo/ready", "dojo/json"], function(dom, query, domForm, domAttr, array, query, cookie, date, calendar, on, parser, ready, json) {
/* todo: move into its own dojo module so it doesent have to be loaded every time  */
var jdata = {};

 

ready(function() {
    /*recall_visible_ag();
    set_save_visible_handlers();
    */
    var e = dom.byId('navigation_calendar'); 
    domAttr.set(e, 'dojoType', 'dijit.Calendar'); 
    domAttr.set(e, 'onChange', 'navigation_calendar_clicked'); 
    domAttr.set(e, 'isDisabledDate','navigation_calendar_is_disabled');
    parser.parse(e.parentNode);
    
    var tools_link_elem = dom.byId('toolslink');
    var href = domAttr.get(tools_link_elem, "href");
    domAttr.get(tools_link_elem, "href", href + "?day=" + "${booking_day.date}" );
});

});


function navigation_calendar_clicked(x) {
        var selected_date = dojo.date.locale.format(x, {datePattern: "yyyy-MM-dd", selector: "date"});
        if ("${booking_day.date}" != selected_date) {
            window.location.assign('day?day=' + selected_date);
        }
    }
    
  </script>
  <script>
   require(["common_menu","dojo/_base/array", "dijit/Menu","dijit/MenuItem", "dijit/PopupMenuItem", "dijit/CheckedMenuItem", "dojo/query!css2", "dojo/io-query", "dojo/ready"], function(common_menu, array, Menu, MenuItem, PopupMenuItem, CheckedMenuItem, xq, ioQuery, ready) {
 
   
   ready(function() {
   
		var menu = new Menu({
      	targetNodeIds: ["booking_day_overview"],
         selector: "div.slot_booking",
         leftClickToOpen: common_menu.load_left_click_menu(),
         onOpen: function(evt) {
                   var node = menu.currentTarget;
                   var locked = node.attributes["hollyrosa:lock"].value;
               		console.log( locked );
               		
               	 if (locked == 'block') {
                   	 menu_new_booking_choice.disabled=true;
                      menu_block_slot_choice.disabled = true;
                      menu_unblock_slot_choice.disabled = false;               	 
               	 } else {
                    	 menu_new_booking_choice.disabled=false;
                      menu_block_slot_choice.disabled = false;
                      menu_unblock_slot_choice.disabled = true;   
               	 }
           }
		});
           
      var menu_new_booking_choice = common_menu.add_booking_op_menu_item_for_block(menu, menu, "New booking...", '${tg.url('book_slot')}','program');
      common_menu.add_menu_separator(menu);
      common_menu.add_booking_op_menu_item(menu, menu, "View...", '${tg.url('/booking/view_booked_booking')}');
      common_menu.add_booking_op_menu_item(menu, menu, "Edit...", '${tg.url('/booking/edit_booked_booking')}');
      common_menu.add_booking_op_menu_item(menu, menu, "Unschedule", '${tg.url('/booking/unschedule_booking')}');		      
      common_menu.add_menu_separator(menu);	
			 
      /* add submenu with more entries  */
           
      var more = new Menu();
    	menu.addChild(new PopupMenuItem({
         label: "More...",
         leftClickToOpen: common_menu.load_left_click_menu(),
        	popup: more
      }));
           
		common_menu.add_booking_op_menu_item(menu, more, "Move...", '${tg.url('/booking/move_booking')}');
		common_menu.add_booking_op_menu_item(menu, more, "Prolong", '${tg.url('/booking/prolong')}');
		           
      common_menu.add_menu_separator(more);     
		
                      
      var set_state_url = '${tg.url('/workflow/set_state')}';
    	array.forEach(common_menu.state_change_list, function(x) {common_menu.add_change_booking_state_menu_item(menu, more, x['name'], x['state'], 0, set_state_url);});
      common_menu.add_menu_separator(more);     
		     
   	common_menu.add_booking_op_menu_item(menu, more, "Multi-book...", '${tg.url('/booking/multi_book')}');
      common_menu.add_booking_op_menu_item(menu, more, "Delete", '${tg.url('delete_booking')}');
     
      common_menu.add_menu_separator(menu);     
		     
      common_menu.add_visiting_group_list_bookings_menu_item(menu, menu, "List bookings of group...", '${tg.url('/visiting_group/view_bookings_of_name')}');
      common_menu.add_visiting_group_menu_item(menu, menu, "View visiting group...", '${tg.url('/visiting_group/show_visiting_group')}');


      common_menu.add_menu_separator(menu);     
		var menu_block_slot_choice = common_menu.add_booking_op_menu_item_for_block(menu, menu, "Block slot", '${tg.url('block_slot')}','program');
      var menu_unblock_slot_choice = common_menu.add_booking_op_menu_item_for_block(menu, menu, "Unblock slot", '${tg.url('unblock_slot')}','program');
           
       
       /*..........................*/
      
           var book_menu = new Menu({
               targetNodeIds: ["booking_day_overview"],
               selector: "div.slot_empty",
               leftClickToOpen: common_menu.load_left_click_menu(),
               onOpen: function(evt) {
                   var node = book_menu.currentTarget;
                   var locked = node.attributes["hollyrosa:lock"].value;
               		
               		
               	 if (locked == 'block') {
                       book_menu_new_booking_choice.disabled=true;
                       book_menu_block_slot_choice.disabled = true;
                       book_menu_unblock_slot_choice.disabled = false;               	 
               	 } else {
                    	 book_menu_new_booking_choice.disabled=false;
                       book_menu_block_slot_choice.disabled = false;
                       book_menu_unblock_slot_choice.disabled = true;   
               	 }
              }
           });
           
           var book_menu_new_booking_choice = common_menu.add_booking_op_menu_item_for_block(book_menu, book_menu, "New booking...", '${tg.url('book_slot')}','program');
           common_menu.add_menu_separator(book_menu);
           var book_menu_block_slot_choice = common_menu.add_booking_op_menu_item_for_block(book_menu, book_menu, "Block slot", '${tg.url('block_slot')}','program');
		     var book_menu_unblock_slot_choice = common_menu.add_booking_op_menu_item_for_block(book_menu, book_menu, "Unblock slot", '${tg.url('unblock_slot')}','program');
           
           
           
           /******************* unschedule menu ********************/
           var unschedule_menu = new Menu({
               targetNodeIds: ["unscheduled_bookings"],
               selector: "li.unscheduled_booking",
               leftClickToOpen: common_menu.load_left_click_menu()
              });
              
          	 common_menu.add_booking_op_menu_item(unschedule_menu, unschedule_menu, "View...", '${tg.url('/booking/view_booked_booking')}');
          	 common_menu.add_visiting_group_list_bookings_menu_item(unschedule_menu, unschedule_menu, "List bookings of group", '${tg.url('/visiting_group/view_bookings_of_name')}');
		    	 common_menu.add_booking_op_menu_item(unschedule_menu, unschedule_menu, "Edit...", '${tg.url('/booking/edit_booking')}');
             common_menu.add_booking_op_menu_item(unschedule_menu, unschedule_menu, "Delete...", '${tg.url('delete_booking')}'); 
             
             
       
             
              
             var schedule_more_menu = new Menu();
    	          unschedule_menu.addChild(new PopupMenuItem({
                label: "Schedule...",
                leftClickToOpen: common_menu.load_left_click_menu(),
        	       popup: schedule_more_menu
             }));
           
         var agroups = ${"[" + ','.join( ['["'+a.id + '", "' + a.title +'"]' for a in activity_groups]   )   + "]"};           
         
  			var ag_status = common_menu.load_ag_checkbox_status();         
           
       	var view_ag_menu = new Menu({
               targetNodeIds: ["view_ag_menu"],
               leftClickToOpen: common_menu.load_left_click_menu()
               });
               
         
         array.forEach(agroups, function(a) {
				common_menu.add_ag_checkbox_menu_item(view_ag_menu, a[1], a[0], ag_status);	         
         });
         
         common_menu.update_activity_group_visible_rows(ag_status);
         
                   
       }); /* end ready */
                 
}); /* end require */
</script>
  
  
</head>

<body class="tundra">   
    <div id="booking_day_hide_slot_rows_control">
        <ul style="display:inline; list-style-type: none;   position:relative;">
        		<li>
            	<div dojoType="dijit.Calendar" id="navigation_calendar" value="${booking_day.date}">Calendar widget if dijit works</div>
        		</li>
        		<li id="view_ag_menu" class="context_menu_symbol">view activity groups </li>
        	</ul>
    </div>
   
    <h2>Program Day ${reFormatDate(booking_day.date)}</h2>

    <div class="note"><h2>${booking_day.get('title','')}</h2>
    <ul py:if="booking_day.has_key('events')" ><li py:for="e in booking_day.events">$e</li></ul>${HTML(booking_day.note)}
    <br/>
    <a href="${tg.url('/calendar/edit_booking_day',params={'id':booking_day.id})}">edit</a>
    </div>

  
    <h3>Unscheduled bookings</h3>    
    <ul id="unscheduled_bookings">
        <li py:for="booking in unscheduled_bookings" hollyrosa:acgid="${booking.activity_group_id}" class="unscheduled_booking" hollyrosa:bid="${booking.id}" hollyrosa:bdayid="${booking_day.id}"  hollyrosa:vgname="${booking.visiting_group_name}">${booking.activity_title} 
        <span class="group_info">${booking.visiting_group_name}</span>  ${getRenderContent(booking)}, <span class="requested_date">requested date ${booking.requested_date}</span> <span class="date_info">  [${booking.valid_from}  - ${booking.valid_to}]</span> 
            <ul class="any_menu context_inline_menu_toggle">
            <li py:for="tt in [t for t in activity_slot_position_map.get(booking.activity_id,[])[1:]  if not blockings_map.has_key(t['slot_id'])]">
        			<a href="${tg.url('schedule_booking', params={'booking_id':booking.id, 'booking_day_id':booking_day.id, 'slot_row_position_id':tt.slot_id})}">[${tt.time_from} - ${tt.time_to}]</a></li>
    			</ul>
    </li></ul>
    
    <h3>Scheduled bookings and daily overview</h3>
  <div class="booking_day_overview" id="booking_day_overview">
  
  <!-- hack for 2011 for showing FM EM evening and after hours -->
  <div class="booking_day_overview_slot_row">
    <div class="booking_day_overview_activity">Slot time</div>
    <div class="booking_day_overview_slots">Morning</div>
    <div class="booking_day_overview_slots">Afternoon</div>
    <div class="booking_day_overview_slots">Evening</div>
    <div class="booking_day_overview_slots">After hours</div>
  </div>

    <!-- <div py:for="slot_row in slot_rows" hollyrosa:acgid="${slot_row.activity.activity_group_id}"  class="booking_day_overview_slot_row" style="background: ${slot_row.activity.bg_color};"> -->
    <div py:for="slot_row in slot_rows" hollyrosa:acgid="${slot_row.activity_group_id}"  class="booking_day_overview_slot_row" style="background: ${slot_row.bg_color};">
        <div class="booking_day_overview_activity"><a href="${tg.url('view_activity', params={'activity_id':slot_row.activity_id})}">${slot_row.title}</a><a name="activity_row_id_${slot_row.activity_id}" class="ag_anchor">&nbsp;</a><span py:if="0 != slot_row.capacity">[${str(slot_row.capacity)}]</span></div>
        <div py:for="slot_position in slot_row.slot_row_position" hollyrosa:w="$slot_position.time_from - $slot_position.time_to" class="booking_day_overview_slots ${['','slot_row_position_blocked'][blockings_map.has_key(slot_position.id)]}">
        
            <!-- we may have several slot bookings-->
            <div py:if="bookings.has_key(slot_position.id)">
            
                
                <div py:for="b in bookings[slot_position.id]" class="slot_booking" hollyrosa:bid="${b.id}" hollyrosa:bdayid="${booking_day.id}" hollyrosa:lock="${['off','block'][blockings_map.has_key(slot_position.id)]}"  hollyrosa:vgname="${b.visiting_group_name}" hollyrosa:vgid="${b.visiting_group_id}" hollyrosa:sid="${slot_position.id}">
                <span class="workflow_state_${b.booking_state}"><a href="${tg.url('/visiting_group/view_bookings_of_name', params={'name':b.visiting_group_name})}">${b.visiting_group_name}</a></span><br/><a href="${tg.url('view_booked_booking', params={'booking_id':b.id, 'return_to_day_id':booking_day.id})}" style="padding-left:2em;">${getRenderContent(b)}</a>
                
                    
                </div>
            </div>
            <div py:if="not bookings.has_key(slot_position.id)" class="slot_empty" hollyrosa:bdayid="${booking_day.id}" hollyrosa:lock="${['off','block'][blockings_map.has_key(slot_position.id)]}" hollyrosa:sid="${slot_position.id}">&nbsp;</div>
            
        </div>
    </div> 
  </div>
</body>
</html>
