<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<!--
Copyright 2010-2015 Martin Eliasson

This file is part of Hollyrosa

Hollyrosa is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Hollyrosa is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Hollyrosa.  If not, see <http://www.gnu.org/licenses/>.

-->

<?python
import datetime
def makeDate(s):
    return datetime.datetime.strptime(s, '%Y-%m-%d')

?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:py="http://genshi.edgewall.org/" xmlns:hollyrosa="http://asplunden.org/guldkant/hollyrosa" xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />

<head>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
  <title>Hollyrosa - Calendar Overview</title>
  
  <link rel="stylesheet" type="text/css" href="${tg.url('/scripts/dojo-release-1.8.0/dijit/themes/tundra/tundra.css')}" />

  <script src="${tg.url('/scripts/dojo-release-1.8.0/dojo/dojo.js')}" data-dojo-config="async: true"></script>
  <script>
   require(["dijit/registry","common_menu","dijit/Menu","dijit/MenuItem","dojo/query!css2", "dojo/io-query"], function(registry, common_menu, Menu, MenuItem, xq, ioQuery) {
   var menu = new Menu({
       targetNodeIds: ["calendar_listing"],
       selector: "tr.calendar_overview",
       leftClickToOpen: common_menu.load_left_click_menu()
       });

   menu.addChild(new MenuItem({
       label: "Day overview",
       onClick: function(evt) {
           var node = menu.currentTarget;
           var bdayid = node.attributes["hollyrosa:bdayid"].value;
           var ioq = {
               day_id: bdayid
               };
           window.location = '${tg.url('/booking/day')}' + '?' + ioQuery.objectToQuery(ioq);
           }
       }));
       
       menu.addChild(new MenuItem({
       label: "Room overview",
       onClick: function(evt) {
           var node = menu.currentTarget;
           var bdayid = node.attributes["hollyrosa:bdayid"].value;
           var ioq = {
               day_id: bdayid,
               subtype: 'room'
               };
           window.location = '${tg.url('/booking/live')}' + '?' + ioQuery.objectToQuery(ioq);
           }
       }));
       
       menu.addChild(new MenuItem({
       label: "Staff overview",
       onClick: function(evt) {
           var node = menu.currentTarget;
           var bdayid = node.attributes["hollyrosa:bdayid"].value;
           var ioq = {
               day_id: bdayid,
               subtype: 'staff'
               };
           window.location = '${tg.url('/booking/live')}' + '?' + ioQuery.objectToQuery(ioq);
           }
       }));

   common_menu.add_menu_separator(menu);
   menu.addChild(new MenuItem({
       label: "Visiting groups this day",
       onClick: function(evt) {
           var node = menu.currentTarget;
           var bdate = node.attributes["hollyrosa:bdate"].value;
           var ioq = {
               at_date: bdate
               };
           window.location = '${tg.url('/visiting_group/view_at_date')}' + '?' + ioQuery.objectToQuery(ioq);
           }
       }));
   
   common_menu.add_menu_separator(menu);    
       
   menu.addChild(new MenuItem({
       label: "Fladan schema",
       onClick: function(evt) {
           var node = menu.currentTarget;
           var bdate = node.attributes["hollyrosa:bdate"].value;
           var ioq = {
               ag: "activity_group.6",
               day: bdate
               };
				window.location = '${tg.url("/booking/fladan_day")}' + '?' + ioQuery.objectToQuery(ioq);
           }
       }));
              
   menu.addChild(new MenuItem({
       label: "Trapper schema",
       onClick: function(evt) {
           var node = menu.currentTarget;
           var bdate = node.attributes["hollyrosa:bdate"].value;
           var ioq = {
               ag: "activity_group.1",
               day: bdate
               };
               
				window.location = '${tg.url("/booking/fladan_day")}' + '?' + ioQuery.objectToQuery(ioq);

           }
       }));
       
   menu.addChild(new MenuItem({
       label: "All schema",
       onClick: function(evt) {
           var node = menu.currentTarget;
           var bdate = node.attributes["hollyrosa:bdate"].value;
           var ioq = {
               day: bdate
               };
               
				window.location = '${tg.url("/booking/fladan_day")}' + '?' + ioQuery.objectToQuery(ioq);
           }
       }));
       
   });
  
  </script>
</head>

<body class="tundra">
    <h2>Calendar Overview</h2>
    <table class="data" id="calendar_listing">
        <tr><th>Day</th><th>Note</th></tr>
        <tr py:for="booking_day in booking_days" style="${['','background:#fdd;'][6==makeDate(booking_day['date']).weekday()]}" class="calendar_overview" hollyrosa:bdate="${booking_day['date']}" hollyrosa:bdayid="${booking_day['_id']}"> 
            <td class="data info context_menu_symbol"><a href="${tg.url('/booking/day', params={'day_id':str(booking_day['_id'])})}">${makeDate(booking_day['date']).strftime('%A %d %b')}</a><br/>  
            </td>
            <td class="data info context_menu_symbol"><h2>${booking_day.get('title','')}</h2>
            <ul py:if="booking_day.has_key('events')" ><li py:for="e in booking_day['events']">$e</li></ul>            
            ${HTML(booking_day['note'])}</td>
        </tr>
        
    </table>
</body>
</html>
