<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<!--
Copyright 2010-2017 Martin Eliasson

This file is part of Hollyrosa

Hollyrosa is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Hollyrosa is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Hollyrosa.  If not, see <http://www.gnu.org/licenses/>.

-->

<!-- TODO: remove python code, I really need a JS framework that does the date parsing and date conversion for me.  -->
<?python
import datetime
def makeDate(s):
    return datetime.datetime.strptime(s, '%Y-%m-%d')
?>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:py="http://genshi.edgewall.org/" xmlns:hollyrosa="http://asplunden.org/guldkant/hollyrosa" xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="master.html" />
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
  <title>Hollyrosa - Calendar Overview</title>
  <!-- BEGIN DOJO MODULE -->
  <script>

  require(["common_menu", "page/calendar_overview", "dijit/registry","common_menu","dijit/Menu","dijit/MenuItem","dojo/query!css2", "dojo/io-query", "dojo/domReady!"],
    function(common_menu, page, registry, common_menu, Menu, MenuItem, xq, ioQuery) {

    var menu_config = {
      targetNodeIds: ["calendar_listing"],
      selector: "tr.calendar_overview",
      leftClickToOpen: common_menu.load_left_click_menu()
    }

    var page_config = {
      menu_config: menu_config,
      calendar_menu_target_node_ids:["calendar_listing"],
    };



    // TODO: refactor the direct calendar code

    /*

    // TODO: should be replaceable wit the map version + extra parameters from a dict
      function add_calendar_overview_menu_item(a_menu, a_sub_menu, a_name, a_url, a_subtype) {
        a_sub_menu.addChild(new MenuItem({
          label: a_name,
          onClick: function(evt) {
            var node = a_menu.currentTarget;
            var bdayid = node.attributes["hollyrosa:booking_day_id"].value;
            var ioq = {
              day_id: bdayid,
              subtype: a_subtype
            };
            window.location = a_url + '?' + ioQuery.objectToQuery(ioq);
          }
        }));
      }

*/

    var menu = new Menu(menu_config);
    common_menu.add_transfer_map_function_menu_item_2(menu, menu, 'Day overview', '${tg.url('/booking/day')}', ['booking_day_id'], {}, 'GET' );
    common_menu.add_transfer_map_function_menu_item_2(menu, menu, 'Room overview', '${tg.url('/booking/live')}', ['booking_day_id'],  {subtype:'room'}, 'GET');
    common_menu.add_transfer_map_function_menu_item_2(menu, menu, 'Staff overview', '${tg.url('/booking/live')}', ['booking_day_id'],  {subtype:'staff'}, 'GET');
    common_menu.add_menu_separator(menu);

    // TODO: for the edit controller, booking_day_id is now called bdayid, also check the day template
    common_menu.add_transfer_map_function_menu_item(menu, menu, "Edit day info...", '${tg.url('/calendar/edit_booking_day')}', ['booking_day_id']);
    common_menu.add_menu_separator(menu);

    // TODO: changed parameter name from at_date to bdate
    // TODO: ***************** SCHEIZE, needs to be GET or POST + Extra Params
    common_menu.add_transfer_map_function_menu_item_2(menu, menu, "Visiting groups this day", '${tg.url('/visiting_group/view_at_date')}', ['date'], {},'GET');
    common_menu.add_menu_separator(menu);

    // TODO: day changed name to bdate
    common_menu.add_transfer_map_function_menu_item_2(menu, menu, "Fladan schema", '${tg.url('/booking/fladan_day')}', ['date'], {ag: "activity_group.6"},'GET');
    common_menu.add_transfer_map_function_menu_item_2(menu, menu, "Trapper schema", '${tg.url('/booking/fladan_day')}', ['date'], {ag: "activity_group.1"},'GET');
    common_menu.add_transfer_map_function_menu_item_2(menu, menu, 'All schema', '${tg.url("/booking/fladan_day")}', ['date'], {}, 'GET');

  });
  </script>
</head>
<body class="tundra">
  <h2>Calendar Overview</h2>
  <table class="data" id="calendar_listing">
    <tr><th>Day</th><th>Note</th></tr>
    <tr py:for="booking_day in booking_days" style="${['','background:#fdd;'][6==makeDate(booking_day['date']).weekday()]}" class="calendar_overview" hollyrosa:date="${booking_day['date']}" hollyrosa:booking_day_id="${booking_day['_id']}">
      <td class="data info context_menu_symbol"><a href="${tg.url('/booking/day', params={'day_id':str(booking_day['_id'])})}">${makeDate(booking_day['date']).strftime('%A %d %b')}</a><br/>
      </td>
      <td class="data info context_menu_symbol"><h2>${booking_day.get('title','')}</h2>
        <ul py:if="booking_day.has_key('events')" ><li py:for="e in booking_day['events']">$e</li></ul>
        ${HTML(booking_day['note'])}</td>
    </tr>
  </table>
</body>
</html>
