<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<!--
Copyright 2010-2016 Martin Eliasson

This file is part of Hollyrosa

Hollyrosa is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Hollyrosa is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Hollyrosa.  If not, see <http://www.gnu.org/licenses/>.

-->


<html xmlns="http://www.w3.org/1999/xhtml" xmlns:py="http://genshi.edgewall.org/" xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />

<head>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
  <title>Hollyrosa - Book Slot</title>
  <script type="text/javascript" src="${tg.url('/scripts/std.js')}" ></script>
  <script src="${tg.url('/scripts/dojo-release-1.11.2/dojo/dojo.js')}" data-dojo-config="async: true"></script>
  <script>
require(["edit_booking", "dojo/dom", "dojo/on", "dojo/request/xhr", "dojo/store/Memory", "dijit/form/FilteringSelect", "dojo/ready"], function(edit_booking, dom, on, xhr, Memory, FilteringSelect, ready) { 


function get_visiting_group_data_from_XHR_helper(value) {
    xhr("${tg.url('/visiting_group/show_visiting_group_data')}", {
    handleAs:"json",
    method:"GET",
    query: {'id':value}}).then(edit_booking.update_visiting_group_data);
}


function get_visiting_group_data_from_XHR(value) {
    get_visiting_group_data_from_XHR_helper(value);
}


function set_visiting_group_id(value) {
    edit_booking.set_form_field_value('create_edit_book_live_slot_form_visiting_group_id', value);
    if (null != value) {
			get_visiting_group_data_from_XHR(value);    
    } else {
         edit_booking.clean_properties_table();
    }
    
}


/**
http://stackoverflow.com/questions/3844995/preventing-form-submission-with-dojo
**/
function validate_form(evt, visiting_group_filtering_select) {	
	if (!visiting_group_filtering_select.validate()) {
			set_visiting_group_id(null);
	}
	var visiting_group_name = visiting_group_filtering_select.displayedValue;
	edit_booking.set_form_field_value('create_edit_book_live_slot_form_visiting_group_display_name', visiting_group_name);
	return true;
}


ready(function(){
    var elem = dom.byId('create_edit_book_live_slot_form_visiting_group_id');
 
    is_new_booking = '0' == '${edit_this_visiting_group}' ;
    get_visiting_group_data_from_XHR_helper('${booking.visiting_group_id}');
    
    //...set up filtering select for activity
    var visiting_group_options = ${visiting_group_options};
	 var visiting_group_store = new Memory({
        data:visiting_group_options });


    var visiting_group_filtering_select = new FilteringSelect({
        id: "create_edit_book_live_slot_form_visiting_group_name",
        name: "create_edit_book_live_slot_form_visiting_group_name",
        value: "${booking.visiting_group_id}",
        displayedValue: "${booking.visiting_group_name}",
        onChange: function(value) {
        		set_visiting_group_id(value);
    			},
        store: visiting_group_store,
        searchAttr: "name"
    }, "create_edit_book_live_slot_form_visiting_group_name");
    
  	 var submit_button_elem = dom.byId("create_edit_book_live_slot_form");
    on(submit_button_elem, "submit", function(evt) { return validate_form(evt, visiting_group_filtering_select); }  );
  
});
  
});
  
  </script>
</head>
<body class="tundra">
    <h2>${booking.activity.title} Room booking</h2>
    <div id="visiting_group_data" style="font-size:80%; border:1px solid green; margin:2em; padding: 2em; float:right;">
        <h3> Showing visiting group info: <span id="visiting_group_data_name"></span></h3>
        <div class="note" id="visiting_group_data_info"></div>
        <h4>group info</h4>
        <table id="visiting_group_info_table">
            <tr><td>From:</td><td id="visiting_group_data_fromdate"/></tr>
            <tr><td>To:</td><td id="visiting_group_data_todate"/></tr>
            <tr><td>Contact:</td><td id="visiting_group_data_contact"/></tr>
            <tr><td>Phone:</td><td id="visiting_group_data_phone"/></tr>
            <tr><td>Email:</td><td id="visiting_group_data_email"/></tr>
        </table>
        <h4>properties</h4>
        <table id="visiting_group_properties_table">
            
        </table>
    </div>
    <p>
    <span py:if="None != booking_day">Start date: ${booking_day.date} </span><span py:if="None != slot_position"><b> ${slot_position.time_from} to ${slot_position.time_to} </b> </span><span py:if="None != booking_day"><a py:if="booking.booking_id != None " href="${tg.url('unschedule_booking', params={'booking_id':booking.booking_id, 'booking_day_id':booking_day.id})}">unschedule</a></span>
    </p>
    
    <div py:replace="tmpl_context.form(booking, action='save_booked_live_booking_properties', child_args=dict(visiting_group_id=dict(options=visiting_groups), slot_id=dict(options=end_slot_id_options), booking_end_slot_id=dict(options=end_slot_id_options)))">Input Form</div>
</body>
</html>
