<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<!--
Copyright 2010, 2011, 2012 Martin Eliasson

This file is part of Hollyrosa

Hollyrosa is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Hollyrosa is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Hollyrosa.  If not, see <http://www.gnu.org/licenses/>.

-->

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:py="http://genshi.edgewall.org/" xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />

<head>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
  <title>Hollyrosa - Show Booking History ${for_group_name}</title>
  <script type="text/javascript" src="${tg.url('/scripts/std.js')}" ></script>
  <link href="rss" type="application/rss+xml" rel="alternate" title="RSS feed" />

</head>

<body>
    <h2>Show booking history ${for_group_name}</h2>
    
    <table class="data">
        <tr>
            <th>change op</th><th>time stamp</th><th>description</th><th>changed by</th><th>booking id</th>
        </tr>
        <tr py:for="h in history">
            <td class="data info"><span class="change_op_${h['change_op']}">${change_op_map[h['change_op']]}</span></td>
            <td class="data timestamp">${h['timestamp']}</td> <!-- .strftime('%A %B %d %H:%M:%S') -->
            <td class="data info"><a href="${tg.url('/booking/day', {'day_id':h['booking_day_id']})}">${h['change']}</a></td>
            <td class="data info">${h['changed_by']}</td>
            <td class="data info"><a href="${tg.url('/booking/view_booked_booking', {'id':h['booking_id']})}">${h['booking_id']}</a><br/>
            <a py:if="h.has_key('visiting_group_id')" href="${tg.url('/visiting_group/show_visiting_group', {'id':h.get('visiting_group_id','')})}">${h.get('visiting_group_id','')}</a></td>
        </tr>
    </table>
</body>
</html>
