<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<!--
Copyright 2010, 2011 Martin Eliasson

This file is part of Hollyrosa

Hollyrosa is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Hollyrosa is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Hollyrosa.  If not, see <http://www.gnu.org/licenses/>.

-->


<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />

<head>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
  <title>Hollyrosa Program Booking System</title>
</head>

<body>
  <div>
  <h1>Welcome to Hollyrosa program booking system</h1>
  <p>
  This is the booking system for program at Vässarö.
  </p>
  <div style="margin:8em;">
  <h2>Calendar Overview</h2>
  <a href="http://asplunden.org/hollyrosa/calendar/overview"><img src="${tg.url('images/calendar_skiss-m.png')}" alt="calendar skiss icon" style="border:0px;" width="100px;"/></a><br/>
  <p>View the <em><a href="http://asplunden.org/hollyrosa/calendar/overview">calendar overview</a></em> of the whole summer. From the calendar overview, you may select a day to see and work with all bookings for that day.</p>
  </div>

  <div style="margin:8em;">
  <h2>Visiting Groups</h2>
  
  <a href="http://asplunden.org/hollyrosa/visiting_group/view_all"><img src="${tg.url('images/group_skiss-m.png')}" alt="calendar skiss icon" style="border:0px;" width="100px;"/></a><br/>
  <p><em><a href="http://asplunden.org/hollyrosa/visiting_group/view_all">List (all) visiting groups</a></em>. From the view of all visiting groups, find the visiting group you are looking for or add a new group. You may edit, show and list activities of the visiting group you are intereseted in.</p>
  </div>

 <div style="margin:8em;">
  <h2>New booking request</h2>
  <a href="http://asplunden.org/hollyrosa/booking/edit_booking"><img src="${tg.url('images/book_skiss-m.png')}" alt="calendar skiss icon" style="border:0px;" width="100px;"/></a><br/>
  <p><em><a href="http://asplunden.org/hollyrosa/booking/edit_booking">Add a new booking request</a></em>, it is often more effective to first go to the list of visiting groups, then under the group the booking request is for, select <i>new booking request</i> from the mini-menu.</p>
  </div>

  <h2>Documentation</h2>
  <p>TBD</p>
 </div>
  
</body>
</html>
