<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<!--
Copyright 2010-2017 Martin Eliasson

This file is part of Hollyrosa

Hollyrosa is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Hollyrosa is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Hollyrosa.  If not, see <http://www.gnu.org/licenses/>.

-->

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:py="http://genshi.edgewall.org/" xmlns:hollyrosa="http://asplunden.org/guldkant/hollyrosa" xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />

<head>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
  <title>Hollyrosa - Show users</title>
  <script type="text/javascript" src="${tg.url('/scripts/std.js')}" ></script>
  <script>
   require(["common_menu","dojo/_base/array", "dijit/Menu","dijit/MenuItem", "dijit/PopupMenuItem", "dijit/CheckedMenuItem", "dojo/query!css2", "dojo/io-query", "dojo/ready", "dojo/domReady!"], function(common_menu, array, Menu, MenuItem, PopupMenuItem, CheckedMenuItem, xq, ioQuery, ready) {

   ready(function() {
   
		var menu = new Menu({
      	targetNodeIds: ["user_listing"],
         selector: "tr.active_user",
         leftClickToOpen: common_menu.load_left_click_menu()
/*         
         onOpen: function(evt) {
                   var node = menu.currentTarget;
                   var locked = node.attributes["hollyrosa:lock"].value;
               		console.log( locked );
               		
               	 if (locked == 'block') {
                   	 menu_new_booking_choice.disabled=true;
                      menu_block_slot_choice.disabled = true;
                      menu_unblock_slot_choice.disabled = false;               	 
               	 } else {
                    	 menu_new_booking_choice.disabled=false;
                      menu_block_slot_choice.disabled = false;
                      menu_unblock_slot_choice.disabled = true;   
               	 }
           }*/
		});
           
      common_menu.add_user_management_op_menu_item(menu, menu, "New User...", '${tg.url('new')}');
      common_menu.add_user_management_op_menu_item(menu, menu, "Edit...", '${tg.url('edit')}');
      common_menu.add_user_management_op_menu_item(menu, menu, "Change Password...", '${tg.url('change_password')}');
      common_menu.add_user_management_op_menu_item(menu, menu, "Activate", '${tg.url('activate')}');
      common_menu.add_user_management_op_menu_item(menu, menu, "Dectivate", '${tg.url('deactivate')}');      
      common_menu.add_user_management_op_menu_item(menu, menu, "History", '${tg.url('/history/show')}');		      
      common_menu.add_menu_separator(menu);	
      
      
      /* add submenu with more entries  */
           
      var more = new Menu();
    	menu.addChild(new PopupMenuItem({
         label: "Set Access Level...",
         leftClickToOpen: common_menu.load_left_click_menu(),
        	popup: more
      }));
           
		/*common_menu.add_booking_op_menu_item(menu, more, "Move...", '${tg.url('/booking/move_booking')}');
		common_menu.add_booking_op_menu_item(menu, more, "Prolong", '${tg.url('/booking/prolong')}');
		           
      common_menu.add_menu_separator(more);     
		
        */              
      var set_level_url = '${tg.url('/user/set_level')}';
      
      
    	array.forEach(common_menu.user_level_change_list, function(x) {common_menu.add_change_user_level_menu_item(menu, more, x['name'], x['level'], 0, set_level_url);});
    	
      common_menu.add_menu_separator(more);
                   
       }); /* end ready */
                 
}); /* end require */
</script>
  
</head>

<body class="tundra">
    <h2>Show users</h2>
    <table class="data" id="user_listing">
        <tr>
            <th>user name</th><th>display name</th><th>level</th><th>active</th><th>last active</th>
        </tr>
        <tr py:for="u in users" class="active_user" hollyrosa:userid="${u._id}">
            <td class="data info context_menu_symbol" >${u.user_name}</td>
            <td class="data info context_menu_symbol">${u.display_name}</td>
            <td class="data info context_menu_symbol"><ul py:for="l in u.get('level',[])" style="display:inline"><li style="display:inline">${l}</li></ul></td>
            <td class="data info context_menu_symbol">${u.get('active',False)}</td>
            <td class="data info context_menu_symbol">${u.get('last_login', '-')}</td>
        </tr>    
    </table>
</body>
</html>
