<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
                                            
<?python
from genshi import HTML, XML    
?> 

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      py:strip="">
    <xi:include href="header.html" />
    
    <xi:include href="footer.html" />
<head py:match="head" py:attrs="select('@*')">
    <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
    <title py:replace="''">Your title goes here</title>
    
    <link rel="stylesheet" type="text/css" media="screen" href="${tg.url('/css/style.css')}" />
    <link rel="stylesheet" type="text/css" media="print" href="${tg.url('/css/print.css')}" />
    <link rel="stylesheet" type="text/css" href="${tg.url('/scripts/dojo-release-1.11.2/dijit/themes/tundra/tundra.css')}" />
	<script src="${tg.url('/scripts/dojo-release-1.11.2/dojo/dojo.js')}" data-dojo-config="async: true"></script>
	<meta py:replace="select('*')"/>
</head>

<body py:match="body" py:attrs="select('@*')">
  ${header()}
  <ul id="mainmenu" class="any_menu external_mainmenu">
        <li py:if="request.identity.user.get('type','') == 'user'" class="first"><a href="${tg.url('/')}">Frontpage</a></li>
        <li py:if="request.identity.user.get('type','') == 'user'"><a href="${tg.url('/calendar/overview')}">Calendar overview</a></li>
        <li py:if="request.identity.user.get('type','') == 'user'" ><a href="${tg.url('/visiting_group/view_all')}">Visiting groups</a></li>
        <li py:if="request.identity.user.get('type','') == 'user'" ><a href="${tg.url('/vodb_group/view_all')}">VODB groups</a></li>
        <li py:if="request.identity.user.get('type','') == 'user'"><a href="${tg.url('/tools/show')}" id="toolslink">Tools</a></li>
		<li py:if="request.identity.user.get('type','') == 'user'"><a href="${tg.url('/me/settings')}">Me</a></li>

    <li py:if="request.identity.user.get('type','') == 'visiting_group'"><a href="${tg.url('/program_layer/layers', params={'visiting_group_id':request.identity.user.get('_id','')})}">Live Calendar</a></li>
    <li py:if="request.identity.user.get('type','') == 'visiting_group'"><a href="${tg.url('/program_layer/layers_printable', params={'visiting_group_id':request.identity.user.get('_id','')})}">Printable Program Layer</a></li>
    <li py:if="request.identity.user.get('type','') == 'visiting_group'"><a href="${tg.url('/visiting_group/view_bookings_of_name', params={'name':request.identity.user.get('name','')})}">Printable Program Listing</a></li>
    <li py:if="request.identity.user.get('type','') == 'visiting_group'"><a href="${tg.url('/visiting_group_program_request/edit_request', params={'visiting_group_id':request.identity.user.get('_id','')})}">Booking Requests</a></li>
    <span py:if="tg.auth_stack_enabled" py:strip="True">
        <li><a href="${tg.url('/about')}" class="${('', 'active')[defined('page') and page==page=='about']}">About</a></li>
        <li py:if="not request.identity" id="login" class="loginlogout"><a href="${tg.url('/login')}">Login</a></li>
        <li py:if="request.identity" id="login" class="loginlogout"><a href="${tg.url('/logout_handler')}">Logout <em py:if="request.identity['user'].has_key('display_name')">${request.identity['user'].get('display_name','')}</em><em py:if="request.identity['user'].has_key('name')">${request.identity['user'].get('name','')}</em></a></li>
    </span>
  </ul>
  <div id="content">
    <py:if test="defined('page')">
    <div class="currentpage">
     Now Viewing: <span py:replace="page"/>
     </div>
    </py:if>
    <py:with vars="flash=tg.flash_obj.render('flash', use_js=False)">
        <div py:if="flash" py:content="XML(flash)" />
    </py:with>
    <div py:replace="select('*|text()')"/>
    <!-- End of content -->
    ${footer()}
  </div>
</body>
</html>
