<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<!--
Copyright 2010-2017 Martin Eliasson

This file is part of Hollyrosa

Hollyrosa is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Hollyrosa is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Hollyrosa.  If not, see <http://www.gnu.org/licenses/>.

-->

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:py="http://genshi.edgewall.org/" xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />

<head>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
  <title>Hollyrosa - Move Booking ${activity.title} for ${booking.visiting_group_name}</title>
  
  <script type="text/javascript" src="${tg.url('/scripts/std.js')}" ></script>
  <script src="${tg.url('/scripts/dojo-release-1.11.2/dojo/dojo.js')}" data-dojo-config="async: true"></script>
  <script>
require(["edit_booking", "dojo/query", "dojo/dom", "dojo/on", "dojo/request/xhr", "dojo/store/Memory", "dijit/form/FilteringSelect", "dojo/ready"], function(edit_booking, query, dom, on, xhr, Memory, FilteringSelect, ready) { 


function set_activity_id(value) {
	edit_booking.set_form_field_value('activity_id', value);
}


/**
http://stackoverflow.com/questions/3844995/preventing-form-submission-with-dojo
**/
function validate_form(evt, activity_select) {

	if (!activity_select.validate()) {
			alert("activity not valid");
			evt.preventDefault();
			return false;
	}	
	return true;
}


ready(function(){
    //...set up filtering select for activity
    var activity_entries = ${activity_entries};
	 var activity_store = new Memory({
        data:activity_entries });


    var activity_filtering_select = new FilteringSelect({
        id: "activity_name",
        name: "activity_name",
        value: "${booking.activity_id}",
        onChange: function(value) {
        		set_activity_id(value);
    			},
        store: activity_store,
        searchAttr: "name"
    }, "activity_name");
        
    var submit_button_elems = query('input[type="Submit"]');
    on(submit_button_elems[0], "submit", function(evt) { return validate_form(evt, activity_filtering_select); }  );
    
});


});
  </script>
</head>

<body class="tundra">
    <h2>Move booking ${activity.title} for ${booking.visiting_group_name}</h2>
    <table>
        <tr><td>visiting group:</td><td>${booking.visiting_group_name}</td></tr>
        <tr><td>activity:</td><td>${activity.title}</td></tr>
        <tr><td>date:</td><td>${booking_day.date} at ${slot.time_from} to ${slot.time_to}</td></tr>
        <tr><td>content:</td><td>${getRenderContentDict(booking)}</td></tr>
        
    </table>
    <h4>Change activity below</h4>
    <div py:replace="tmpl_context.form.display(booking, child_args=dict(activity_id=dict(options=activities)))">Input Form</div> 
</body>
</html>
