<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<!--
Copyright 2010, 2011, 2012, 2013, 2014 Martin Eliasson

This file is part of Hollyrosa

Hollyrosa is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Hollyrosa is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Hollyrosa.  If not, see <http://www.gnu.org/licenses/>.

-->

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:py="http://genshi.edgewall.org/" xmlns:hollyrosa="http://asplunden.org/guldkant/hollyrosa"  xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />

<head>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
  <title>Hollyrosa - Program Booking Layers ${visiting_group.name}</title>
 
  <script>dojoConfig = {parseOnLoad: true}</script>
  <script src="${tg.url('/scripts/dojo-release-1.8.0/dojo/dojo.js')}" data-dojo-config="async: true" djConfig="parseOnLoad: true"></script>
   
  <script>

require(["common_menu", "dijit/registry","dijit/Menu","dijit/MenuItem","dijit/PopupMenuItem", 'dijit/Dialog', 'dijit/form/Form', 'dijit/form/TextBox', "dijit/form/Textarea", "dijit/form/Button", 'dojo/_base/array', 'dojo/_base/lang', 'dojo/date/locale', 'dojo/request/xhr', 'dojo/dom', 'dojo/dom-construct', 'dojo/dom-geometry', 'dojo/dom-style', 'dojo/query', 'dojo/on','dojo/ready', 'dojo/domReady!'],
  function(common_menu, registry, Menu, MenuItem, PopupMenuItem, Dialog, dijitForm, dijitTextBox, dijitTextarea, dijitButton, array, lang, locale, xhr, dom, domConstruct, domGeom, style, query, on, ready, domReady ){

    var slot_id_time_map;
    var buckets = [];
    var activity_title_map;
    var layer_time_divs = [];
    var total_width = 0;
  
    /**
     *Draw the grid that all bookings will fit into
     **/
    function drawLayerGridAndSetData(data) {

    var layer_container = dom.byId('program_layers_container');
    
    // create container div for all layers
    var program_layers_div = domConstruct.create('div', {id:'program_layers_div', style:"border:1px solid #444;"}, program_layers_container);
    
    //...create one div for each time. Add an extra header div on top
    
    var layer_times = data.layer_time;
    var layer_time_header_div = domConstruct.create('div', {style:"background: #ccc;", id:'layer_time_header'}, program_layers_div);
    array.forEach(layer_times, function(t) {
        var tmp_div = domConstruct.create('div', {id:'layer_time_'+t['symbol'], 'hollyrosa:title':t['title'], 'hollyrosa:time':t['symbol'], 'class':'program_layer_time_container'}, program_layers_div);
        layer_time_divs.push(tmp_div);
        });
    
    var layer_days = data.layer_days;
    
    //...draw dates in layer time header
    var empty_header__div = domConstruct.create('div', {'class':'program_layer_bucket_time_label'}, layer_time_header_div); 
    total_width = total_width + domGeom.position(empty_header__div, true).w;  
    array.forEach(layer_days, function(t) {
        var tmp_div = domConstruct.create('div', {'class':'program_layer_bucket program_layer_bucket_date_header'}, layer_time_header_div); // add atribues for slot id which is matching day and time, but how do we learn about that?
        tmp_div.innerHTML = t.date;
        total_width = total_width + domGeom.position(tmp_div, true).w;  
    });
            
    // look in data and create divs for all the days
    array.forEach(layer_time_divs, function(dv) {
    
        //...first draw a div to contain the time (like fm/em)
        datetime_value = dv.attributes['hollyrosa:title'].value;
        var tmp_div = domConstruct.create('div', {style:"display:inline-block;", 'class':'program_layer_bucket_time_label'}, dv); // add atribues for slot id which is matching day and time, but how do we learn about that?
        tmp_div.innerHTML = datetime_value;
            
        array.forEach(layer_days, function(t) {
            // also add class that makes it become inline
            var datetime_bucket_value = t.booking_day_id+':'+dv.attributes['hollyrosa:time'].value;
            var tmp_div = domConstruct.create('div', {'hollyrosa:datetime_bucket':datetime_bucket_value, 'hollyrosa:vgid':'${visiting_group._id}', 'hollyrosa:bdayid':t.booking_day_id, 'hollyrosa:buckettime':dv.attributes['hollyrosa:time'].value, 'class':'program_layer_bucket'}, dv); 
            buckets[datetime_bucket_value] = tmp_div;
            });
    });
    
        slot_id_time_map = data.slot_id_time_map;
        activity_title_map= data.activity_title_map
        //...now do get the bookings
        get_program_layer_bookings_from_XHR(data.visiting_group_id, '${visiting_group.name}', '#ffffef');
       
        array.forEach(data.program_layers, function(vgid) {
            var layer_id = vgid['layer_id'];
            get_program_layer_bookings_from_XHR(layer_id, vgid['title'], vgid['colour']);
        });
    }
  
  /**
   * Adjusting the layout of the grid according to the contents of the grid layer layout
   **/
    function adjustBucketHeights() {
        //...for each layer time 
        array.forEach(layer_time_divs, function(layer_time_div) {
            
            //...for each bucket in layer time, readout height, try to figure out max height
            var max_height = 0;
            var xpos = domGeom.position(layer_time_div, true);
            
             var bucket_divs = query('.program_layer_bucket', layer_time_div);
            //...look for max height
            array.forEach(bucket_divs, function(bucket_div) {
                tmp_pos = domGeom.position(bucket_div, true);  
                max_height = Math.max(tmp_pos.h+20, max_height);
            });
            
            //...set max height
            
            array.forEach(bucket_divs, function(bucket_div) {
                style.set(bucket_div, {height: max_height + 'px', top:'0px'});
            });
            
            
        });
        tmp = dom.byId('program_layers_div');
        style.set(tmp, {'width': total_width+'px'});
    }
    
    function doGotBookings(data) {
        //...start populate the layered grid
        
        
        //..this is not going to work for unscheduled bookings....
        array.forEach(data.bookings, function(booking) {
            var datetime_bucket_value = booking.booking_day_id+':'+slot_id_time_map[booking.slot_id];
            var bucket_div = buckets[datetime_bucket_value];
            
            // BDAYID is set to BOOKING:DI which is WRONG!
            var tmp_div = domConstruct.create('div', {style:"background-color: "+booking['layer_colour'], class:"program_layer_slot", 'hollyrosa:bdayid':booking['_id']}, bucket_div); // add atribues for slot id which is matching day and time, but how do we learn about that?
            var tmp_layer_title_elem = domConstruct.create('span', {style:'font-style:italic; padding-left:2em;'}, tmp_div);
            tmp_layer_title_elem.innerHTML = '(' + booking['layer_title'] + ')<br/>';
            var tmp_span = domConstruct.create('span', {class:"workflow_state_"+booking['booking_state']}, tmp_div); 
           //...need to pre-render content.... 
            tmp_span.innerHTML = activity_title_map[booking['activity_id']]+"<br/>";
            var tmp_span_content = domConstruct.create('span', {style:'padding-left:2em;'}, tmp_div); 
            tmp_span_content.innerHTML = booking['cache_content'];
            
        });
        
        array.forEach(data.bucket_texts, function(bucket_text) {
            var datetime_bucket_value = bucket_text.booking_day_id+':'+bucket_text.bucket_time;
            var bucket_div = buckets[datetime_bucket_value];
            
            var tmp_div = domConstruct.create('div', {style:"background-color: "+bucket_text['layer_colour'], class:"program_layer_slot", 'hollyrosa:id':bucket_text['_id']}, bucket_div); // add atribues for slot id which is matching day and time, but how do we learn about that?
            var tmp_layer_title_elem = domConstruct.create('span', {style:'font-style:italic; padding-left:2em;'}, tmp_div);
            tmp_layer_title_elem.innerHTML = '(' + bucket_text['layer_title'] +')<br/>';
            var tmp_span = domConstruct.create('span', {}, tmp_div); 
           //...need to pre-render content.... 
            tmp_span.innerHTML = bucket_text['title']+"<br/>";
            var tmp_span_content = domConstruct.create('span', {style:'padding-left:2em;'}, tmp_div); 
            tmp_span_content.innerHTML = bucket_text['text'];
            
        });
        
        adjustBucketHeights();
    }
    
    function doGotBucketText(data) {
        alert('got bucket text');
  }
  
/**
* get data for drawing layer grid via ajax
**/
   function get_program_layer_days_from_XHR(visiting_group_id) {
        xhr("${tg.url('/visiting_group/program_layer_get_days')}", {
        handleAs:"json",
        method:"GET",
        query: {'visiting_group_id':visiting_group_id}}).then( drawLayerGridAndSetData );
    }


    /**
    * get booking data for specific layer via ajax
    **/
    function get_program_layer_bookings_from_XHR(visiting_group_id, title, colour) {
        xhr("${tg.url('/visiting_group/program_layer_get_bookings')}", {
        handleAs:"json",
        method:"GET",
        query: {'visiting_group_id':visiting_group_id, 'layer_title':title, 'layer_colour':colour}}).then( doGotBookings );
    }

    // , 'layer_title':title, 'layer_colour':colour
    function on_ready(){
        program_layer_text_form.startup();
        get_program_layer_days_from_XHR('${visiting_group.id}');
    }
    
    
    var program_layer_text_dialog = new Dialog({
        title: "Edit Program Layer Text",
        style: "width: 40em, height: 10em;"
    });
    
    var program_layer_text_form = new dijitForm();
    
    var program_layer_text_form_title_input = new dijitTextBox({
        name: "Ttile",
        value: "" /* no or empty value! */,
        placeHolder: "type in your name"
    }, 'title').placeAt(program_layer_text_form.containerNode);
    
    var program_layer_text_form_content_input = new dijitTextarea({
        name: "textarea",
        value: "Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.",
        style: "width:30em;"
    }, "myarea").placeAt(program_layer_text_form.containerNode);

    var program_layer_text_form_OK = new dijitButton({
        label: "Save",
        onClick: function(){
            // Do something:
            alert('ok');
            // ... send xhr request and close dialog. Lost is lost
            
            // it should be doable to use the attributes since we somewhere had a reference to the node that the popup menu was attached to
            program_layer_text_dialog.hide();
            
            // use those values and do an XHR call that populates the grid
            xhr("${tg.url('/visiting_group/program_layer_save_bucket_text')}", {
            handleAs:"json",
            method:"GET",
            query: {'visiting_group_id':program_layer_text_dialog.hollyrosa_attrs['vgid'], 'booking_day_id':program_layer_text_dialog.hollyrosa_attrs['bdayid'], 'bucket_time':program_layer_text_dialog.hollyrosa_attrs['buckettime']}}).then( doGotBucketText );
        }
    }, "progButtonNode").placeAt(program_layer_text_form.containerNode); 
    
    program_layer_text_dialog.set('content', program_layer_text_form);
    
    function show_edit_text_dialog(node) {
        var bdayid = node.attributes["hollyrosa:bdayid"].value;
        var vgid = node.attributes["hollyrosa:vgid"].value;
        var buckettime = node.attributes["hollyrosa:buckettime"].value;
        
        program_layer_text_dialog.hollyrosa_attrs = {'bdayid':bdayid, 'vgid':vgid, 'buckettime':buckettime, 'sid':''};
        
        program_layer_text_dialog.show();
    }
    
    //...build menues
    var menu = new Menu({
       targetNodeIds: ["program_layers_container"],
       selector: "div.program_layer_bucket",
       leftClickToOpen: common_menu.load_left_click_menu(),
       onOpen: function(evt) {
          var node = menu.currentTarget;
          //var has_notes = node.attributes["hollyrosa:has_notes"].value;
          //console.log( has_notes );
         
         //if (has_notes == 'True') {
         //	load_notes_menu_item.disabled = false;
         //} else {
	     //    load_notes_menu_item.disabled = true;
	     //} 
       } // end function
       });

    // refactor later
   // not in VODB view common_menu.add_visiting_group_menu_item(menu, menu, "New booking request...", '${tg.url('/booking/edit_booking')}');
   common_menu.add_menu_separator(menu);   
   common_menu.add_call_function_menu_item(menu, menu, "Edit text...",  show_edit_text_dialog);
   common_menu.add_visiting_group_add_note_menu_item(menu, menu, "Add note...", '${tg.url('/note/add_note')}');
   common_menu.add_visiting_group_add_note_menu_item(menu, menu, "Add attachment...", '${tg.url('/note/add_note')}');
    	
      ready(on_ready);
});

</script>


  <!-- here was menu script -->
  
</head>

<body class="tundra">
    <h2 id="visiting_group_menu" hollyrosa:vgid="${visiting_group.id}" class="context_menu_symbol">${visiting_group.name}</h2> 
    <p class="context_menu_symbol">${reFormatDate(visiting_group.from_date)} to ${reFormatDate(visiting_group.to_date)}</p>

	
	<div class="note context_menu_symbol" id="note" hollyrosa:vgid="${visiting_group.id}"><div class="tag_list"><ul style="display:inline;" id="taglist" class="tag_list"></ul><form style="display:inline;"><input id="tag_input" type="text" name="tags" value="" />
<a id="add_tag_href2" href="javascript:;">Add Tags</a>
</form></div>

<table class="visiting_group_info_table">
<tr><td class="legend">bok.nr:</td><td class="info">${visiting_group.boknr}</td></tr>
<tr><td class="legend">subtype:</td><td class="info">${visiting_group.get('subtype','')}</td></tr>
<!--
<tr><td class="legend">vodb status:</td><td class="info">${vodb_state_map.get(visiting_group.get('vodbstatus','-'))}</td></tr>
<tr><td class="legend">program status:</td><td class="info">${program_state_map.get(visiting_group.boknstatus,'')}</td></tr>
-->
<tr><td class="legend">camping location:</td><td class="info">${visiting_group.camping_location}</td></tr>
</table>

<p>${HTML(visiting_group.info)}</p></div>
<h3>Notes and attachments</h3>
<p><i>These are currently not shown, info overload otherwise</i></p>
    <div py:for="n in notes" >
            
        <div class="${n.type}2" hollyrosa:nid="${n.id}" hollyrosa:vgid="${visiting_group.id}"><i><b>${n.timestamp}</b> ${n.type} by ${n.last_changed_by}</i><br/><br/>
        <div py:if="'note' == n.type">${HTML(n.text)}</div>
        <div py:if="('attachment' == n.type)">${n.text}<br/><br/>
        	<div py:for="at in n.get('_attachments',[''])"><a href="${tg.url('/note/download_attachment', params={'attachment_id':n.id,'doc_id':at})}"><b>${at}</b> ${n._attachments[at]['content_type']} ${n._attachments[at]['length']}</a></div>
        	 
        	</div>
        </div>
                
    </div>
    
    <p>${visiting_group.get('vodb_contact_name','')}<br/>${visiting_group.get('vodb_contact_phone','')}<br/><a href="mailto:${visiting_group.get('contact_person_email','')}">${visiting_group.get('vodb_contact_email','')}</a><br/>
    </p>
    <p><pre>${visiting_group.get('vodb_contact_address','')}</pre></p> 

    
    
    
    <div>
    <h3>Adding menu items.</h3>
    <p>The real trick is going to figure out how to handle live updates to underlying data</p>
    <p>My main thought right now is how much is needed on the layer grid. Maybe just a simple_note (text only) that is like a note but simpler (textarea) and if so maybe we can ajax edit it.
    The two main advatages is that it is easier to implement and easier to put in the grid. The value of a full note is also questionable. Maybe therr should be some notes in a list that can be edited?
    </p>
    <p>Notes and attachments can be represented as a bulleted list with links</p>
    <p>Text can be represented as edit text  - always. There will only be one text per layer bucket. If it doesent exist it will be created. The bucket text is identified by vgroup-bookingday-symbol triplet</p>
    <h3>Apperance</h3>
    <p>Remove comments like doubble slash</p>
    <h3>Draw layers</h3>
    <p>list of layers = visiting group ids</p>
	</div>
    <div id="program_layers_container">
    Program layers
    </div>
</body>
</html>
