<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<!--
Copyright 2010, 2011,2012, 2013 Martin Eliasson

This file is part of Hollyrosa

Hollyrosa is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Hollyrosa is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Hollyrosa.  If not, see <http://www.gnu.org/licenses/>.

-->

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:py="http://genshi.edgewall.org/" xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />

<head>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
  <title>Hollyrosa - Edit/Create Booking Request</title>
  <script type="text/javascript" src="${tg.url('/scripts/std.js')}" ></script>
  <script type="text/javascript" src="${tg.url('/scripts/std.js')}" ></script>
  <script src="${tg.url('/scripts/dojo-release-1.8.0/dojo/dojo.js')}" data-dojo-config="async: true"></script>
  <script>

require(["edit_booking", "dojo/dom", "dojo/on", "dojo/request/xhr", "dojo/ready"], function(edit_booking, dom, on, xhr, ready) { 

function get_visiting_group_data_from_XHR_helper(visiting_group_id, value) {
    xhr("${tg.url('/visiting_group/show_visiting_group_data')}", {
    handleAs:"json",
    method:"GET",
    query: {'id':value}}).then(edit_booking.update_visiting_group_data_for_new_booking_request);
}


function get_visiting_group_data_from_XHR(visiting_group_id) {
    var value = this.options[this.selectedIndex].value;
    get_visiting_group_data_from_XHR_helper(visiting_group_id, value);
}


function propagate_selected_value() {
    var value = this.options[this.selectedIndex].text;
    edit_booking.set_form_field_value('create_edit_new_booking_request_form_visiting_group_name', value);
}


function transfer_from_date(event) {
    date_elem = dom.byId("visiting_group_data_fromdate");
    date = date_elem.innerHTML;
    dom.byId("create_edit_new_booking_request_form_valid_from").value = date;
}


function transfer_to_date(event) {
    date_elem = dom.byId("visiting_group_data_todate");
    date = date_elem.innerHTML;
    dom.byId("create_edit_new_booking_request_form_valid_to").value = date;
}


ready(function(){
    var elem = dom.byId('create_edit_new_booking_request_form_visiting_group_id');
    on( elem, "change", propagate_selected_value);
    on( elem, "change", get_visiting_group_data_from_XHR);
    on( dom.byId('fromdate_href'), "click", transfer_from_date);
    on( dom.byId('todate_href'), "click", transfer_to_date);
    
    is_new_booking = '0' == '${edit_this_visiting_group}' ;
    if ( ! is_new_booking ) {
      get_visiting_group_data_from_XHR_helper('${edit_this_visiting_group}', '${edit_this_visiting_group}');
    } else {
        //...load N/A group (should be the first in the list)
        value = elem.options[elem.selectedIndex].text;
        edit_booking.set_form_field_value('create_edit_new_booking_request_form_visiting_group_name', value);
        id_value = elem.options[elem.selectedIndex].value;
        get_visiting_group_data_from_XHR_helper(value, id_value);
    }
});


});
</script>
</head>

<body>
    <h2>Edit/Create booking request</h2>
    <div id="visiting_group_data" style="font-size:80%; border:1px solid green; margin:2em; padding: 2em; float:right;">
        <h3> Showing visiting group info: <span id="visiting_group_data_name"></span></h3>
        <div class="note" id="visiting_group_data_info"></div>
        <h4>group info</h4>
        <table id="visiting_group_info_table">
            <tr><td>From:</td><td><span id="visiting_group_data_fromdate" /> <a id="fromdate_href" >transfer to <i>from date</i></a></td></tr>
            <tr><td>To:</td><td> <span  id="visiting_group_data_todate"/> <a id="todate_href" >transfer to <i>to date</i></a></td></tr>
            <tr><td>Contact:</td><td id="visiting_group_data_contact"/></tr>
            <tr><td>Phone:</td><td id="visiting_group_data_phone"/></tr>
            <tr><td>Email:</td><td id="visiting_group_data_email"/></tr>
        </table>
        <h4>properties</h4>
        <table id="visiting_group_properties_table">
            
        </table>
    </div>
    
    
    <div py:replace="tmpl_context.form(booking, action='save_new_booking_request', child_args=dict(activity_id=dict(options=activities), visiting_group_id=dict(options=visiting_groups)))">Input Form</div>
    
</body>
</html>
