<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<!--
Copyright 2010, 2011 Martin Eliasson

This file is part of Hollyrosa

Hollyrosa is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Hollyrosa is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Hollyrosa.  If not, see <http://www.gnu.org/licenses/>.

-->

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:py="http://genshi.edgewall.org/" xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />

<head>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
  <title>Hollyrosa - ${activity.title} Booking</title>
  <script type="text/javascript" src="${tg.url('/scripts/std.js')}" ></script>
</head>
<body>
    <h2>${activity.title} booking</h2>
    <h3>${booking.visiting_group_name}</h3> 
    <p py:if="booking['slot_id'] != ''">
    <a href="${tg.url('day', day_id=booking_day.id)}">${booking_day.date}</a> <b py:if="booking.slot_id !=None"> ${slot_position.time_from} to ${slot_position.time_to} </b>  <b py:if="booking.slot_id ==None">booking has no slot row position </b>
    <p py:if="None !=booking_day"><span class="workflow_state_${str(booking.booking_state)}">${workflow_map[booking.booking_state]}</span></p>
    </p>
    <p py:if="booking.has_key('slot_id')">
        <span class="workflow_state_unscheduled">unscheduled</span>
        requested from $booking.valid_from to $booking.valid_to requested date $booking.requested_date
    </p>
    
    <ul class="any_menu context_inline_menu">
                    <li py:if="None !=booking_day"><a href="${tg.url('/booking/edit_booked_booking', return_to_day_id=booking.get('booking_day_id',''), id=booking.id)}">edit</a></li>
                    <li py:if="None ==booking_day"><a href="${tg.url('/booking/edit_booking', return_to_day_id=booking.get('booking_day_id',''), id=booking.id)}">edit</a></li>
                    <li py:if="None !=booking_day"><a href="${tg.url('/booking/unschedule_booking', booking_day_id=booking.get('booking_day_id',''), booking_id=booking.id)}">unschedule</a></li>
                    <li py:if="None !=booking_day"><a href="${tg.url('/workflow/set_state', booking_id=booking.id, state=0)}">preliminary</a></li>
                    <li py:if="None !=booking_day"><a href="${tg.url('/workflow/set_state', booking_id=booking.id, state=10)}">booked</a></li>
                    <li py:if="None !=booking_day"><a href="${tg.url('/workflow/set_state', booking_id=booking.id, state=20)}">approve</a></li>
                    <li py:if="None !=booking_day"><a href="${tg.url('/workflow/set_state', booking_id=booking.id, state=-10)}">disapprove</a></li>
                    <li py:if="None !=booking_day"><a href="${tg.url('/booking/multi_book', booking_id=booking.id)}">multi-book</a></li>
                </ul>
    
    <div class="note">${getRenderContent(booking)}</div>
    
    <!-- .strftime('%A %d %B') -->
    <p>
    <span py:if="booking.valid_from!=None and booking.valid_to!=None">Valid in range <em>${booking.valid_from} to ${booking.valid_to}</em>, </span><span py:if="None != booking.requested_date">Requested date <em>${booking.requested_date}</em></span>
    </p>
    <p>Last changed by user having user id ${booking.last_changed_by_id}</p>
    
    <div id="history" style="margin-top:3em;">
        <h3>History</h3>
        <table class="data">
        <tr>
            <th>change op</th><th>time stamp</th><th>description</th><th>changed by</th>
        </tr>
        <tr py:for="h in history">
            <td class="data info"><span class="change_op_${h.change_op}">${change_op_map[h.change_op]}</span></td>
            <td class="data timestamp">${h.timestamp}</td>
            <td class="data info">${h.change}</td>
            <td class="data info">${h.changed_by}</td>
            
        </tr>
    </table>
    </div>
</body>
</html>
