<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<!--
Copyright 2010, 2011 Martin Eliasson

This file is part of Hollyrosa

Hollyrosa is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Hollyrosa is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Hollyrosa.  If not, see <http://www.gnu.org/licenses/>.

-->

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:py="http://genshi.edgewall.org/" xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />

<head>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
  <title>Hollyrosa - Show Visiting Group ${visiting_group.name}</title>
</head>

<body>
    <h2>${visiting_group.name}</h2>
<ul class="any_menu context_inline_menu ">
       <li><a href="${tg.url('edit_visiting_group', id=visiting_group.id)}">edit</a></li>
       <li><a href="${tg.url('view_bookings_of_name', name=visiting_group.name)}">list activities</a></li>
       <li><a href="${tg.url('../history/show', visiting_group_id=visiting_group.id)}">view booking history</a></li>
       <li><a href="${tg.url('delete_visiting_group', id=visiting_group.id)}">delete</a></li>
    </ul>
    
    <p>${reFormatDate(visiting_group.from_date)} to ${reFormatDate(visiting_group.to_date)}</p>
    <div class="note">${HTML(visiting_group.info)}</div>
    <p>${visiting_group.contact_person}<br/>$visiting_group.contact_person_phone<br/><a href="mailto:$visiting_group.contact_person_email">$visiting_group.contact_person_email</a><br/>
    boknr: ${visiting_group.boknr} <br/>
    boknstatus: ${bokn_status_map.get(visiting_group.boknstatus,'')} <br/>
    camping location: ${visiting_group.camping_location}<br/>
</p>
    <table class="data">
        <tr>
            <th>Property = Value Unit</th><th>Description</th><th>From date</th><th>To date</th>
        </tr>
        <tr py:for="prop in visiting_group.visiting_group_properties.values()">
            <td class="info">$$$prop.property = $prop.value $prop.unit</td><td class="info">$prop.description</td><td class="info">$prop.from_date</td><td class="info">$prop.to_date</td>
        </tr>
    </table>

    

        <div py:for="b in bookings">
        <h3><a href="${tg.url('/booking/view_activity', activity_id=b.activity.id)}">${b.activity.title}</a></h3>
            
            <div py:if="None != b.booking_day">
                
                </div>
        
        
            <div py:if="None != b.booking_day" style="margin-left:2em;">
                <!--<span class="workflow_state_${b.booking_state}"><a href="${tg.url('/booking/day',day_id=b.booking_day.id)}">${b.booking_day.date.strftime('%A %d %B')}</a> <b>${b.slot_row_position.time_from}</b> to <b>${b.slot_row_position.time_to}</b>  ${workflow_map[b.booking_state]}</span>-->
                
                <ul class="any_menu context_inline_menu" style="padding-left:2em;">
                    <li><a href="${tg.url('/workflow/set_state', booking_id=b._id, state=10)}">booked</a></li>
                    <li><a href="${tg.url('/workflow/set_state', booking_id=b._id, state=20)}">approve</a></li>
                    <li><a href="${tg.url('/workflow/set_state', booking_id=b._id, state=-10)}">disapprove</a></li>
                    <li><a href="${tg.url('/workflow/set_state', booking_id=b._id, state=0)}">preliminary</a></li>
                    <li><a href="${tg.url('/booking/edit_booked_booking', return_to_day_id=b.booking_day_id, id=b._id)}">edit</a></li>
                    <li><a href="${tg.url('/booking/view_booked_booking', return_to_day_id=b.booking_day_id, id=b._id)}">view</a></li>
                    <li><a href="${tg.url('/booking/unschedule_booking', booking_day_id=b.booking_day_id, booking_id=b._id)}">unschedule</a></li>
                </ul>
                
                
            </div>
            <div py:if="None == b.booking_day" style="margin-left:2em;">
                <span class="workflow_state_unscheduled">unscheduled</span>
                <ul class="any_menu context_inline_menu" style="padding-left:2em;">
                    
                    <li><a href="${tg.url('/booking/edit_booked_booking', id=b._id)}">edit</a></li>
                    <li><a href="${tg.url('/booking/view_booked_booking', id=b._id)}">view</a></li>
                    
                </ul>
            </div>
            <div style="margin-left:2em;">
                <div class="note"> ${getRenderContent(b)}</div>
            </div>
        </div>
    
</body>
</html>
