<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<!--
Copyright 2010, 2011, 2012 Martin Eliasson

This file is part of Hollyrosa

Hollyrosa is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Hollyrosa is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Hollyrosa.  If not, see <http://www.gnu.org/licenses/>.

-->

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:py="http://genshi.edgewall.org/" xmlns:hollyrosa="http://asplunden.org/guldkant/hollyrosa" xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />

<head>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
  <title>Hollyrosa - Viewing All Bookings for ${name}</title>
  <link rel="stylesheet" type="text/css" href="${tg.url('/scripts/dojo-release-1.8.0/dijit/themes/tundra/tundra.css')}" />
  
  <script type="text/javascript" src="${tg.url('/scripts/std.js')}" ></script>
  <script src="${tg.url('/scripts/dojo-release-1.8.0/dojo/dojo.js')}" data-dojo-config="async: true"></script>
  <script>
  
require(["dojo/_base/array", "dijit/registry","dijit/Menu","dijit/MenuItem","dojo/query!css2", "dojo/io-query", "dojo/dom", "dojo/dom-construct", "dojo/request/xhr", "dojo/ready"], function(array, registry, Menu, MenuItem, query, ioQuery, dom, domConstruct, xhr, ready) {

function updateTags(data) {
    query('.tag').forEach(domConstruct.destroy);
    var tags = data['tags'];
    var ul_tag_list = byId("taglist");
    
    for (t in tags) {
    	domConstruct.create("li", {innerHTML:tags[t]+' <a href="javascript:deleteTag(\'${visiting_group.id}\',\'' + tags[t] + '\')">x</a>', class:'tag'}, ul_tag_list);
    }
    byId('tag_input').value = '';
}

  
function get_visiting_group_tags_from_XHR(visiting_group_id) {
    xhr("${tg.url('/tag/get_tags')}", {
    query: {'id': visiting_group_id},
    handleAs: "json",
    method: "GET"}).then( updateTags );    
}


function add_visiting_group_tags_XHR(visiting_group_id, tags) {   
    xhr("${tg.url('/tag/add_tags')}", {
    query: {'id': visiting_group_id, 'tags': tags},
    handleAs: "json",
    method: "GET"}).then( updateTags );
}
 

function delete_visiting_group_tag_XHR(visiting_group_id, tag) {
    xhr("${tg.url('/tag/delete_tag')}", {
    query: {'id': visiting_group_id, 'tag': tag},
    handleAs: "json",
    method:"GET"}).then( updateTags );
}


function addTags(id) {
    var input = byId(id);
    var text = input.value;
    add_visiting_group_tags_XHR('${visiting_group['_id']}', text);
}


function deleteTag(id, tag) {
    delete_visiting_group_tag_XHR(id, tag);
}


/* Build context menu */
  
  




function add_change_booking_state_menu_item(a_menu, state_name, state_value, reload_url)
{
   a_menu.addChild(new MenuItem({
      	label: state_name,
         onClick: function(evt) {
         	var node = this.getParent().currentTarget;
            var node = a_menu.currentTarget;
                   var bid = node.attributes["hollyrosa:bid"].value;
                   var ioq = {
                       booking_id: bid,
                       state: state_value
                   };        
               window.location = reload_url + '?' + ioQuery.objectToQuery(ioq);
           }}));
}  

 
ready(function() {

	var menu = new Menu({
   	targetNodeIds: ["clustered_booking_list"],
      selector: "div.booking_meta_info",
      onShow: function(evt) {
      	alert('helooo');
         }
      });


   /* create a list of possible booking state transistions, iterate over it and build (sub) menu */
   
   
   
   menu.addChild(new MenuItem({
               label: "Edit booking",
               onClick: function(evt) {
                   var node = this.getParent().currentTarget;
                   var bid = node.attributes["hollyrosa:bid"].value;
                   var ioq = {
                       id: bid,
                       return_to_day_id: node.attributes["hollyrosa:bdayid"].value
                   };
                        
               window.location = '${tg.url('/booking/edit_booked_booking')}' + '?' + ioQuery.objectToQuery(ioq);
               }
           })); 
           
           menu.addChild(new MenuItem({
               label: "View booking",
               onClick: function(evt) {
                   var node = this.getParent().currentTarget;
                   var bid = node.attributes["hollyrosa:bid"].value;
                   var ioq = {
                       id: bid,
                       return_to_day_id: node.attributes["hollyrosa:bdayid"].value
                   };
                        
               window.location = '${tg.url('/booking/view_booked_booking')}' + '?' + ioQuery.objectToQuery(ioq);
               }
           })); 
    
    var reload_url = '${tg.url('/workflow/set_state')}';       
    
    var state_change_list = [
         {name:"> Disapprove", state:-10}, 
    		{name:"> Preliminary", state:0},
        	{name:"> Stand-by", state:5},
        	{name:"> Booked", state:10}, 
        	{name:"> Approve", state:20}, 
        	{name:"> Drop-in", state:30}, 
        	{name:"Delete", state:-100}
    ];
    array.forEach(state_change_list, function(x) {add_change_booking_state_menu_item(menu, x['name'], x['state'], reload_url);});


	get_visiting_group_tags_from_XHR('${visiting_group._id}'); 
	})
});

  </script>


</head>

<body class="tundra">
    <div py:if="show_group==1">
    <h2>${name}</h2>
    <p>${formatDate(visiting_group.from_date)} to ${formatDate(visiting_group.to_date)}</p>
    <div class="note">
      <div class="tag_list">
        <ul style="display:inline;" id="taglist" class="tag_list"></ul>
        <form style="display:inline;">
          <input id="tag_input" type="text" name="tags" value="" />
          <a href="javascript:addTags('tag_input');">Add Tags</a>
        </form>
      </div>
    <p>bok.nr: <b>${visiting_group.boknr}</b><br/>
    boknstatus: <b>${bokn_status_map.get(visiting_group.boknstatus,'')}</b><br/>
    camping location: <b>${visiting_group.camping_location}</b></p>${HTML(visiting_group.info)}</div>
    <div py:for="n in notes" >
            
        <div class="note2"><i>${n.timestamp} ${n.last_changed_by}</i><br/>
        <ul class="any_menu context_inline_menu ">
           <li><a href="${tg.url('/note/edit_note', {'_id':n._id})}">edit</a></li>
           <li><a href="${tg.url('/note/add_note', {'target_id':visiting_group._id})}">add note</a></li>
           <li><a href="${tg.url('/note/delete_note', {'_id':n._id})}">delete</a></li>
        </ul>${HTML(n.text)}</div>
                
    </div>
    <p>${visiting_group.contact_person}<br/>$visiting_group.contact_person_phone<br/><a href="mailto:$visiting_group.contact_person_email">$visiting_group.contact_person_email</a><br/>
    </p> 

    
    

    <table class="data">
        <tr>
            <th>Property = Value Unit</th><th>Description</th><th>From date</th><th>To date</th>
        </tr>
        <tr py:for="prop in visiting_group.visiting_group_properties.values()">
            <td class="info">$$$prop.property = $prop.value $prop.unit</td><td class="info">$prop.description</td><td class="info">$prop.from_date</td><td class="info">$prop.to_date</td>
        </tr>
    </table>
    
    
    </div>
    <h2>Viewing all bookings for ${name}</h2>
    
    <ul py:if="visiting_group_id!=None" class="any_menu context_inline_menu" style="padding-left:2em;">
        <li><a href="${tg.url('/visiting_group/show_visiting_group', {'id':visiting_group_id})}">show</a></li>
        <li><a href="${tg.url('/visiting_group/edit_visiting_group', {'id':visiting_group_id})}">edit</a></li>
        <li><a href="${tg.url('/booking/edit_booking', {'visiting_group_id':visiting_group_id})}">new booking request</a></li>
    </ul>
                
    <div id="clustered_booking_list">
                
        <div py:for="cb in clustered_bookings">
          <h3><a href="${tg.url('/booking/view_activity', {'activity_id':cb[0].activity['_id']})}">${cb[0].activity.title}</a></h3>
                <ul class="any_menu context_inline_menu" style="padding-left:2em;"> <!-- py:if="'pl' in request.identity['repoze.who.identity']['level']"  -->
                    <li><a href="${tg.url('/workflow/set_state', {'booking_id':cb[0].id, 'state':10, 'all':1})}">booked ALL</a></li>
                    <li><a href="${tg.url('/workflow/set_state', {'booking_id':cb[0].id, 'state':20, 'all':1})}">approve ALL</a></li>
                    <li><a href="${tg.url('/workflow/set_state', {'booking_id':cb[0].id, 'state':-10, 'all':1})}">disapprove ALL</a></li>
                    <li><a href="${tg.url('/workflow/set_state', {'booking_id':cb[0].id, 'state':0, 'all':1})}">preliminary ALL</a></li>
                    <!--<li><a href="${tg.url('/booking/edit_booked_booking', return_to_day_id=cb[0].booking_day_id, id=cb[0].id)}">edit</a></li>
                    <li><a href="${tg.url('/booking/view_booked_booking', return_to_day_id=cb[0].booking_day_id, id=cb[0].id)}">view</a></li>
                    <li><a href="${tg.url('/booking/unschedule_booking', booking_day_id=cb[0].booking_day_id, booking_id=cb[0].id)}">unschedule</a></li> -->
                </ul>

            <div style="margin-left:2em;">
                <div class="note"> ${getRenderContent(cb[0])}</div>
           </div>


          <div py:for="b in cb">            
            <div py:if="None != b.booking_day">
                
                </div>
        
        
            <div py:if="None != b.booking_day" class="booking_meta_info" hollyrosa:bid="${b['id']}" hollyrosa:bdayid="${b['booking_day_id']}">
                <span class="workflow_state_${b.booking_state}"><a href="${tg.url('/booking/day', {'day_id':b.booking_day.id})}">${formatDate(b.booking_day.date)}</a>
                <span py:if="b.slot_id!=None"> 
                  <span py:if="render_time=='time'" ><b>${b.slot.time_from}</b> to <b py:if="b.slot_id !=None">${b.slot.time_to}</b></span>
                  <span py:if="render_time=='title'" ><b>${b.slot.title}</b></span>
                  <span py:if="render_time=='' and b.slot.pref=='time'" ><b>${b.slot.time_from}</b> to <b py:if="b.slot_id !=None">${b.slot.time_to}</b></span>
                  <span py:if="render_time=='' and b.slot.pref=='title'" ><b>${b.slot.title}</b></span>
                  <span py:if="render_time=='' and b.slot.pref=='silent'" ></span>       
                </span>
                  ${workflow_map[b.booking_state]}</span>
                <!--
                <ul class="any_menu context_inline_menu" style="padding-left:2em;">
                    <li><a href="${tg.url('/workflow/set_state', {'booking_id':b.id, 'state':10})}">booked</a></li>
                    <li><a href="${tg.url('/workflow/set_state', {'booking_id':b.id, 'state':20})}">approve</a></li>
                    <li><a href="${tg.url('/workflow/set_state', {'booking_id':b.id, 'state':-10})}">disapprove</a></li>
                    <li><a href="${tg.url('/workflow/set_state', {'booking_id':b.id, 'state':0})}">preliminary</a></li>
                    <li><a href="${tg.url('/booking/edit_booked_booking', {'return_to_day_id':b.booking_day_id, 'id':b.id})}">edit</a></li>
                    <li><a href="${tg.url('/booking/view_booked_booking', {'return_to_day_id':b.booking_day_id, 'id':b.id})}">view</a></li>
                    <li><a href="${tg.url('/booking/unschedule_booking', {'booking_day_id':b.booking_day_id, 'booking_id':b.id})}">unschedule</a></li>
                </ul>
                -->
                
            </div>
            <div py:if="None == b.booking_day" style="margin-left:2em;">
                <span class="workflow_state_unscheduled">unscheduled requested from ${formatDate(b.valid_from)} to ${formatDate(b.valid_to)} <a href="${tg.url('/booking/day',day=b.requested_date)}">requested date ${formatDate(b.requested_date)}</a></span>
                <ul class="any_menu context_inline_menu" style="padding-left:2em;">
                    
                    <li><a href="${tg.url('/booking/edit_booking', {'id':b.id})}">edit</a></li>
                    <li><a href="${tg.url('/booking/view_booked_booking', {'id':b.id})}">view</a></li>
                    
                </ul>
            </div>
        </div>
        </div>
        
	</div>
	<div py:if="len(booking_info_notes)" style="border: 1px dashed red; padding:1em;margin:2em;">
   <h2>Att tänka på</h2>
       <div py:for="n in booking_info_notes" style="padding:2em;">${HTML(n.get('text','missing text for note %s' % n['_id']))}</div>
   </div>
</body>
</html>
