<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<!--
Copyright 2010-2016 Martin Eliasson

This file is part of Hollyrosa

Hollyrosa is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Hollyrosa is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Hollyrosa.  If not, see <http://www.gnu.org/licenses/>.

-->

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:py="http://genshi.edgewall.org/" xmlns:hollyrosa="http://asplunden.org/guldkant/hollyrosa" xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />

<head>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
  <title>Sanity Check</title>
  <script>
  
  
require(["common_menu", "dojo/_base/array", "dijit/Menu","dijit/MenuItem", "dijit/PopupMenuItem",  "dojo/dom", "dojo/dom-construct", "dojo/request/xhr", "dojo/ready", "dojo/domReady!"], function(common_menu, array, Menu, MenuItem, PopupMenuItem, dom, domConstruct, xhr, ready) {
  
    function on_booking_deleted(response_data) {
        var booking = response_data['delete_req_booking_id'];
        var to_remove = dom.byId('booking_id_' + booking);
        domConstruct.destroy(to_remove);
    }
    
    
    function on_booking_warning_ignored(response_data) {
        var booking_id = response_data['booking_id'];
        var to_remove = dom.byId('booking_id_' + booking_id);
        domConstruct.destroy(to_remove);
    }
    
    
    function unschedule_booking(node)
    {
        booking_id = node.attributes["hollyrosa:bid"].value;
        activity_id = node.attributes["hollyrosa:aid"].value;
        visiting_group_id = node.attributes["hollyrosa:vgid"].value;
        
        xhr("${tg.url('/hollyrosa/booking/unschedule_booking_async')}",
        { 
        handleAs:"json",
        query: {delete_req_booking_id:booking_id, visiting_group_id:visiting_group, activity_id: activity_id },
        method: "POST"}).then(on_booking_deleted);
    }
    
    
    function ignore_warning(node)
    {
        booking_id = node.attributes["hollyrosa:bid"].value;
        
        xhr("${tg.url('/booking/ignore_booking_warning_async')}",
        {
        handleAs:"json",
        query: {'booking_id':booking_id},
        method:"POST"}).then(on_booking_warning_ignored);
    }

    
    ready(function() {
        use_left_click_menu = common_menu.load_left_click_menu();
   
        menu = new Menu({
            targetNodeIds: ["sanity_check_table"],
            selector: "tr",
            leftClickToOpen: use_left_click_menu
       });
       
       common_menu.add_booking_op_menu_item(menu, menu, "View...", '${tg.url('/booking/view_booked_booking')}');
       common_menu.add_call_function_menu_item(menu, menu, "Ignore", ignore_warning);
       common_menu.add_call_function_menu_item(menu, menu, "Unschedule", unschedule_booking);
    });

});
  </script>
</head>

<body class="tundra">   
    <h2>Sanity Check</h2>
    <h2>Problems</h2>
    <table id="sanity_check_table">
        <tr py:for="p in problems" id="booking_id_${p.booking.id}" class="problem_severity_${p.severity}" hollyrosa:bid="${p.booking.id}" hollyrosa:bdayid="${p.booking.booking_day_id}" hollyrosa:vgid="$p.booking.visiting_group_id" hollyrosa:aid="$p.booking.activity_id">
            <td><a href="${tg.url('/visiting_group/show_visiting_group', {'visiting_group_id':p.booking.visiting_group_id})}">${visiting_group_map[p.booking.visiting_group_id]['name']}</a></td>
            <td>${p.msg}</td>
            <td>
            <ul class="any_menu">
                <li><a href="javascript:hlp.unschedule_booking('${p.booking.id}', '${p.booking.activity_id}', '${p.booking.visiting_group_id}');">unschedule</a></li> 
            </ul>
            </td>
        </tr>
    </table>
</body>
</html>
