<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<!--
Copyright 2010, 2011, 2012 Martin Eliasson

This file is part of Hollyrosa

Hollyrosa is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Hollyrosa is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Hollyrosa.  If not, see <http://www.gnu.org/licenses/>.

-->

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:py="http://genshi.edgewall.org/" xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />

<head>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
  <title>Sanity Check</title>
  
  <script type="text/javascript" src="${tg.url('/scripts/dojo-release-1.5.0/dojo/dojo.js')}" ></script>
  <script type="text/javascript">
  
  
  
function on_booking_deleted(response_data) {
    var booking = response_data['delete_req_booking_id'];
    var to_remove = dojo.byId('booking_id_' + booking);
    dojo.destroy(to_remove);
}


function unschedule_booking(booking_id, activity_id, visiting_group_id)
{
    dojo.byId('delete_req_booking_id').value =  booking_id;
    dojo.byId('delete_req_visiting_group_id').value =  visiting_group_id;
    dojo.byId('delete_req_activity_id').value =  activity_id;
    dojo.xhrGet({
    url: "/hollyrosa/booking/unschedule_booking_async",
    handleAs:"json",
    form:"delete_booking_form",
    load: on_booking_deleted
    });
}
  </script>
</head>

<body>
    <h2>Sanity Check</h2>
    <h2>Problems</h2>
    <form name="delete_booking_form" id="delete_booking_form" method="get" >
        <input type="hidden" name="delete_req_booking_id" id="delete_req_booking_id" />
        <input type="hidden" name="visiting_group_id" id="delete_req_visiting_group_id" value=""/>
        <input type="hidden" name="activity_id"  id="delete_req_activity_id" value=""/>
    </form>
    
    <table>
        <tr py:for="p in problems" id="booking_id_${p.booking.id}" class="problem_severity_${p.severity}">
            <td><a href="${tg.url('/visiting_group/show_visiting_group', id=p.booking.visiting_group_id)}">${visiting_group_map[p.booking.visiting_group_id]['name']}</a></td>
            <td>${p.msg}</td>
            <td>
            <ul class="any_menu">
                <li><a href="${tg.url('/booking/view_booked_booking', id=p.booking.id)}">view</a></li>
                <li><a href="javascript:unschedule_booking(${p.booking.id}, ${p.booking.activity_id}, ${p.booking.visiting_group_id});">unschedule</a></li>
            </ul>
            </td>
        </tr>
    </table>
</body>
</html>
