<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<!--
Copyright 2010-2017 Martin Eliasson

This file is part of Hollyrosa

Hollyrosa is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Hollyrosa is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Hollyrosa.  If not, see <http://www.gnu.org/licenses/>.

-->

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:py="http://genshi.edgewall.org/" xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />

<head>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
  <link rel="alternate" media="print" href="${activity.print_on_demand_link}" /> 
  <title>Hollyrosa - ${activity.title}</title>
  <script type="text/javascript" src="${tg.url('/scripts/std.js')}" ></script>
  <script Language="JavaScript">

var addPrintLink = {
init:function(sTargetEl, sLinkText) {
if (!document.getElementById || !document.createTextNode) {return;} // Check for DOM support
if (!document.getElementById(sTargetEl)) {return;} // Check that the target element actually exists
if (!window.print) {return;} // Check that the browser supports window.print
var oTarget = document.getElementById(sTargetEl);
var oLink = document.createElement('a');
oLink.id = 'print-link'; // Give the link an id to allow styling
oLink.href = '#'; // Make the link focusable for keyboard users
oLink.appendChild(document.createTextNode(sLinkText));
oLink.onclick = function() {window.print(); return false;} // Return false prevents the browser from following the link and jumping to the top of the page after printing
oTarget.appendChild(oLink);
},
/*
addEvent function included here for portability. Replace with your own addEvent function if you use one.
*/

addEvent:function(obj, type, fn) {
if (obj.addEventListener)
obj.addEventListener(type, fn, false);
else if (obj.attachEvent) {
obj["e"+type+fn] = fn;
obj[type+fn] = function() {obj["e"+type+fn](window.event);}
obj.attachEvent("on"+type, obj[type+fn]);
}
}
};
addPrintLink.addEvent(window, 'load', function(){addPrintLink.init('print-on-demand-link','Print-On-Demand');}); 

</script> 
</head>

<body class="tundra">
    <h2>Kort beskrivning av ${activity.title}</h2>
    <h3>${activity.activity_group_id}</h3>
    <ul class="any_menu context_inline_menu ">
       <li><a href="${tg.url('edit_activity', params={'activity_id':activity.id})}">edit</a></li>
       <li><a href="${activity.external_link}">external link</a></li>
       <li><a href="${activity.internal_link}">internal link</a></li>
       <li><div id="print-on-demand-link"/></li>   <!-- http://www.frontpagewebmaster.com/m-395890/tm.htm -->
    </ul>


    <div class="note">Description: ${HTML(activity.description)}</div>
    <p>Capacity: ${activity.capacity}</p>
    <p>Guides per slot: ${activity.guides_per_slot}</p>
    <p>Guides per day: ${activity.guides_per_day}</p>
    
    <!-- <p>GPS: ${activity.gps_lat} - ${activity.gps_long} Add google map</p> -->
   <em><span py:if="True==activity.equipment_needed">Equipment needed</span> <span py:if="True==activity.education_needed">Education needed</span> <span py:if="True==activity.certificate_needed">Certificate needed</span> </em>
    <p>Speical info note: <a href="${tg.url('/note/edit_note', params={'note_id':activity.get('booking_info_id','')})}">${activity.get('booking_info_id','')}</a></p>
</body>
</html>
