<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<!--
Copyright 2010, 2011, 2012, 2013 Martin Eliasson

This file is part of Hollyrosa

Hollyrosa is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Hollyrosa is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Hollyrosa.  If not, see <http://www.gnu.org/licenses/>.

-->

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:py="http://genshi.edgewall.org/" xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />

<head>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
  <title>Hollyrosa - Program ${visiting_group_program_request.name}</title>
  
  <script src="${tg.url('/scripts/dojo-release-1.8.0/dojo/dojo.js')}" data-dojo-config="async: true" djConfig="parseOnLoad: true"></script>
  <script>
// I need to attach a hook to the submit on-click and readout the dojo data grids before doing the form.submit. This is going to be interesting...

require(["dojo/ready", "dojo/dom", "dojo/dom-attr", "dojo/_base/array", "dojo/query!css2", "dojo/on", "dojo/_base/window"], function(ready, dom, domAttr, array, query, on, win) {

  function on_submit() {
      alert('submit');
      
      //...readout the data stores
      
      
//var age_group_grid = dom.byId('age_group_grid');
//      var visiting_group_program_request_grid = visiting_group_program_request_gridx = dom.byId('visiting_group_program_request_gridx');
  }


  ready(function(){
  
   
    var submit_button = dom.byId('create_edit_visiting_group_program_request_form_submit');
    // domAttr.set(submit_button, 'hidden', 'true');
    on(submit_button,'click', on_submit );
    });
  

});
</script>
</head>

<body class="tundra">
    <h2>Program Request for ${visiting_group_program_request.name}</h2>
    
        <div py:replace="tmpl_context.form(visiting_group_program_request, action='update_visiting_group_program_request')">Input Form</div>
    
</body>
</html>
