<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<!--
Copyright 2010, 2011, 2012, 2013 Martin Eliasson

This file is part of Hollyrosa

Hollyrosa is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Hollyrosa is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Hollyrosa.  If not, see <http://www.gnu.org/licenses/>.

-->

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:py="http://genshi.edgewall.org/" xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />

<head>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
  <title>Hollyrosa - Program ${visiting_group_program_request.name}</title>

  <link rel="stylesheet" type="text/css" href="/css/div_widget.css" />
  <link rel="stylesheet" type="text/css" href="/scripts/dojo-release-1.8.0/dojox/grid/resources/tundraGrid.css" />

  <script>dojoConfig = {parseOnLoad: true}</script>
  <script src="${tg.url('/scripts/dojo-release-1.8.0/dojo/dojo.js')}" data-dojo-config="async: true" djConfig="parseOnLoad: true"></script>
   
  <script>

require(['dojo/_base/lang', 'dojox/grid/DataGrid', 'dojo/data/ItemFileWriteStore', 'dojox/grid/cells/dijit', 'dojo/date/stamp', 'dojo/date/locale', 'dojo/dom','dojo/on','dojo/ready', 'dojo/domReady!'],
  function(lang, DataGrid, ItemFileWriteStore, cells, stamp, locale, dom, on, ready, domReady ){
    
    function formatDate(datum) {
        var d = stamp.fromISOString(datum);
        return locale.format(d, {selector: 'date', formatLength: 'short'});
    }

    function getDateValue(){
        /*Override the default getValue function for dojox.grid.cells.DateTextBox   */
        return stamp.toISOString(this.widget.get('value'));
    }
    
    
    function saveCompleteCallback(){
    	alert('save done');
    	}

	function saveFailedCallback() {
		alert('save failed');
		}
  
 
    var age_group_data = ${visiting_group_program_request.program_request_age_group};
    
    var program_request_data = ${visiting_group_program_request.program_request};
    //{
    //  identifier: "id",
    //  items: []
    //};
    
        

    //var program_request_data_list = [
    //  { requested_date: '$visiting_group_program_request.from_date', requested_time:'', requested_activity: '', age_sma:false, age_spar:false, age_uppt:false, age_aven:false, age_utm:false, age_rov:false, age_led:false, note:''}
    //];


    
    //for(var i = 0, l = program_request_data_list.length; i != 35; i++){
    //  program_request_data.items.push(lang.mixin({ id: i+1 }, program_request_data_list[i%l]));
    //}
    
    var program_request_store = new ItemFileWriteStore({
    	data: program_request_data
      });
      
    
    var age_group_store = new ItemFileWriteStore({
    	data: age_group_data
      });

    age_group_store._saveEverything = function(a_saveCompleteCallback /*Your callback to call when save is completed */,
                                a_saveFailedCallback /*Your callback to call if save fails*/,
                                a_newFileContentString /*The generated JSON data to send somewhere*/){
                                
                                	var inp = dom.byId('age_group_div_input');
                                	inp.value = a_newFileContentString;
                                	a_saveCompleteCallback();
    										};
    
    program_request_store._saveEverything = function(a_saveCompleteCallback /*Your callback to call when save is completed */,
                                a_saveFailedCallback /*Your callback to call if save fails*/,
                                a_newFileContentString /*The generated JSON data to send somewhere*/){
                                	//alert(a_newFileContentString);
                                	var inp = dom.byId('program_request_div_input');
                                	inp.value = a_newFileContentString;
                                	a_saveCompleteCallback();
                                	};   

    
    var program_request_layout = [[
      {'name': 'Date', 'field': 'requested_date', 'width': '100px', editable: true, type: dojox.grid.cells.DateTextBox, formatter: formatDate, getValue: getDateValue},
      {'name': 'Time', 'field': 'requested_time', 'width': '50px', editable:true, type: dojox.grid.cells.Select, options: [ 'FM', 'EM', 'Evening' ], values: [ '0', '1', '2' ]},      
      {'name': 'Program', 'field': 'requested_activity', 'width': '100px', editable: true, type: dojox.grid.cells.Select, options: ['-', 'Trapper', 'Sammarbetsgläntan', 'Storbåt','Optimist','Kanot','Flottbygge','Hinderbana'], values: [ '0', '1', '2','3','4','5','6' ]},
      {'name': 'Småbarn', 'field': 'age_sma', 'width': '60px', editable:true, type: dojox.grid.cells.Bool},  
      {'name': 'Spårare', 'field': 'age_spar', 'width': '60px', editable:true, type: dojox.grid.cells.Bool},
      {'name': 'Upptäckare', 'field': 'age_uppt', 'width': '60px', editable:true, type: dojox.grid.cells.Bool},
      {'name': 'Äventyrare', 'field': 'age_aven', 'width': '60px', editable:true, type: dojox.grid.cells.Bool},
      {'name': 'Utmanare', 'field': 'age_utm', 'width': '60px', editable:true, type: dojox.grid.cells.Bool},  
      {'name': 'Rover', 'field': 'age_rov', 'width': '60px', editable:true, type: dojox.grid.cells.Bool},
      {'name': 'Note', 'field': 'cnote', 'width': '200px', editable:true}
    ]];
                            	
    
    var age_group_layout = [[
      {'name': 'Age',                    field: 'age', 'width': '100px'},
      {'name': 'Group',                  field: 'age_group', 'width': '100px'},
      {'name': 'Number of participants', field: 'value', 'width': '150px', editable: true},
      {'name': 'From date',              field: 'from_date', 'width': '100px', editable: true, type: dojox.grid.cells.DateTextBox, formatter: formatDate, getValue: getDateValue},
      {'name': 'To date',                field: 'to_date', 'width': '100px', editable: true, type: dojox.grid.cells.DateTextBox, formatter: formatDate, getValue: getDateValue}
    ]];

    /*create a new grid*/
    var age_group_grid = new DataGrid({
        id: 'age_group_gridx',
        store: age_group_store,
        structure: age_group_layout,
        rowSelector: '10px'});


	 var program_request_grid = new DataGrid({
        id: 'program_request_gridx',
        store: program_request_store,
        structure: program_request_layout,
        rowSelector: '10px'});



    function on_save_grid_to_input() {
    	//...find dojo store and serialize it. Should be simple. Then write serialized data into 
    	//alert('storing...');
    	age_group_store.save(saveCompleteCallback, saveFailedCallback);
    	program_request_store.save(saveCompleteCallback, saveFailedCallback);
    	dom.byId('program_request_info').value = dijit.byId('program_request_info_editor').value;
    	};
    	
    age_group_grid.placeAt('age_group_div');
    age_group_grid.startup();
    program_request_grid.placeAt('age_group_div');
    program_request_grid.startup();
    
    //alert('ready in age_group_div_widget');
    
    function on_validate() {
      var myForm = dijit.byId('myForm');
    	if(myForm.validate()){
            var result = confirm('Form is valid, press OK to submit');
            
            return result;
        } else {
            alert('Form contains invalid data.  Please correct first');
            return false;
        }
        return true;
    }
    
    
    function on_ready(){
      //...validate form
    	
      var submit_button = dijit.byId('submit_button');
      var save_button = dijit.byId('save_button');
      
      on( submit_button , 'click', on_save_grid_to_input );
      on( save_button , 'click', on_save_grid_to_input );
      on( submit_button , 'click', function() {
      
			dom.byId('ready_to_process').value = 'True';      
      });
        
		on( submit_button , 'click', on_validate);  
		on( save_button , 'click', on_validate);  
    }
    	
      ready(on_ready);
      
        
      
});

</script>

<script>
require(["dojo/parser", "dijit/form/Form", "dijit/form/Button", "dijit/form/ValidationTextBox", "dijit/form/DateTextBox"]);
</script>
</head>

<body class="tundra">
    <h2>Program Request for ${visiting_group_program_request.name}</h2>
    <p> from ${visiting_group_program_request.from_date} to ${visiting_group_program_request.to_date}</p>
    
    
    
    <div data-dojo-type="dijit/form/Form" id="myForm" data-dojo-id="myForm" encType="multipart/form-data" action="update_visiting_group_program_request" method="post">
    


    <table style="border: 1px solid #9f9f9f;" cellspacing="10">
        <tr>
            <td>
                <label for="contact_name">Name:</label>
            </td>
            <td>
                <input type="text" id="contact_person" name="contact_person" value="$visiting_group_program_request.contact_person" data-dojo-type="dijit/form/ValidationTextBox"/>
            </td>
        </tr>
        <tr>
            <td>
                <label for="contact_email">Email:</label>
            </td>
            <td>
                <input type="text" id="contact_person_email" name="contact_person_email" value="$visiting_group_program_request.contact_person_email" required="true" data-dojo-type="dijit/form/ValidationTextBox"/>
            </td>
        </tr>
        <tr>
            <td>
                <label for="contact_phone">Phone (mobile):</label>
            </td>
            <td>
                <input type="text" id="contact_person_phone" name="contact_person_phone" value="$visiting_group_program_request.contact_person_phone" data-dojo-type="dijit/form/ValidationTextBox"/>
            </td>
        </tr>
        <tr>
            <td>
                <label for="program_request_info_editor">Info:</label>
            </td>
            <td>
                <!-- <input type="text" id="dob" name="dob" data-dojo-type="dijit/form/DateTextBox"/> -->
                <div data-dojo-type="dijit/Editor" id="program_request_info_editor">
    					$visiting_group_program_request.program_request_info
					</div>
            </td>
        </tr>
        <tr>
        		<td><label for="age_group_div">Age groups:</label></td>
        		<td><div id="age_group_div" style="height:20em;width:50em;">Age group div<input type="hidden" id="age_group_div_input" name="age_group_input"/></div></td>
        </tr>
        <tr>
        		<td><label for="program_request_div">Program request:</label></td>
        		<td><div id="program_request_div" style="height:20em;width:50em;">Program request...<input type="hidden" id="program_request_div_input" name="program_request_input"/></div></td>
        </tr>
        
        <tr>
            <td>
                <label for="have_skippers">have skippers:</label>
            </td>
            <td>
                <input type="text" id="have_skippers" name="have_skippers" py:attrs="['',{'checked':True}][visiting_group_program_request.program_request_have_skippers != '']" data-dojo-type="dijit/form/CheckBox"/>
            </td>
        </tr>
        <tr>
            <td>
                <label for="miniscout">Miniscout:</label>
            </td>
            <td>
                <input type="text" id="miniscout" name="miniscout"  py:attrs="['',{'checked':True}][visiting_group_program_request.program_request_miniscout != '']" data-dojo-type="dijit/form/CheckBox"/>
            </td>
        </tr>
    </table>
	<input type="hidden" name="vgroup_id" value="$visiting_group_program_request._id"/>
	<input type="hidden" id="ready_to_process" name="ready_to_process" value="False"/>
	<input type="hidden" name="program_request_info" id="program_request_info" />
    <!-- <button data-dojo-type="dijit/form/Button" type="button" onClick="console.log(myForm.getValues())">Get Values from form!</button> -->
    <button data-dojo-type="dijit/form/Button" type="submit" name="saveButton" value="Save" id="save_button">save</button>
    <button data-dojo-type="dijit/form/Button" type="submit" name="submitButton" value="Finalize-and-send" id="submit_button">Finalize-and-send</button>

</div>



        
    
</body>
</html>
