<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<!--
Copyright 2010, 2011, 2012, 2013 Martin Eliasson

This file is part of Hollyrosa

Hollyrosa is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Hollyrosa is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Hollyrosa.  If not, see <http://www.gnu.org/licenses/>.

-->

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:py="http://genshi.edgewall.org/" xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />

<head>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
  <title>Hollyrosa - VODB Group ${vodb_group.name}</title>

  <link rel="stylesheet" type="text/css" href="/css/div_widget.css" />
  <link rel="stylesheet" type="text/css" href="/scripts/dojo-release-1.8.0/dojox/grid/resources/tundraGrid.css" />

  <script>dojoConfig = {parseOnLoad: true}</script>
  <script src="${tg.url('/scripts/dojo-release-1.8.0/dojo/dojo.js')}" data-dojo-config="async: true" djConfig="parseOnLoad: true"></script>
   
  <script>

require(['dojo/_base/lang', 'dojox/grid/DataGrid', 'dojo/data/ItemFileWriteStore', 'dojox/grid/cells/dijit', 'dojo/date/stamp', 'dojo/date/locale', 'dojo/dom','dojo/on','dojo/ready', 'dojo/domReady!'],
  function(lang, DataGrid, ItemFileWriteStore, cells, stamp, locale, dom, on, ready, domReady ){
    
    function formatDate(datum) {
        var d = stamp.fromISOString(datum);
        return locale.format(d, {selector: 'date', formatLength: 'short'});
    }

    function getDateValue(){
        /*Override the default getValue function for dojox.grid.cells.DateTextBox   */
        return stamp.toISOString(this.widget.get('value'));
    }
    
    
    function saveCompleteCallback(){
    	alert('save done');
    	}

	function saveFailedCallback() {
		alert('save failed');
		}
  
 
    var eat_grid_data = ${vodb_group.vodb_eat_table}; 
    var live_grid_data = ${vodb_group.vodb_live_table};
    var occu_grid_data = ${vodb_group.vodb_occu_table};
   
    var live_grid_store = new ItemFileWriteStore({
    	data: live_grid_data
   });
   
   
   var eat_grid_store = new ItemFileWriteStore({
    	data: eat_grid_data
   });
   
   
   var occu_grid_store = new ItemFileWriteStore({
    	data: occu_grid_data
   });

    live_grid_store._saveEverything = function(a_saveCompleteCallback /*Your callback to call when save is completed */,
                                a_saveFailedCallback /*Your callback to call if save fails*/,
                                a_newFileContentString /*The generated JSON data to send somewhere*/){
                                
                                	var inp = dom.byId('live_grid_div_input');
                                	inp.value = a_newFileContentString;
                                	a_saveCompleteCallback();
    										};
    
    eat_grid_store._saveEverything = function(a_saveCompleteCallback /*Your callback to call when save is completed */,
                                a_saveFailedCallback /*Your callback to call if save fails*/,
                                a_newFileContentString /*The generated JSON data to send somewhere*/){
                                	//alert(a_newFileContentString);
                                	var inp = dom.byId('eat_grid_div_input');
                                	inp.value = a_newFileContentString;
                                	a_saveCompleteCallback();
                                	};
                                	
    occu_grid_store._saveEverything = function(a_saveCompleteCallback /*Your callback to call when save is completed */,
                                a_saveFailedCallback /*Your callback to call if save fails*/,
                                a_newFileContentString /*The generated JSON data to send somewhere*/){
                                	//alert(a_newFileContentString);
                                	var inp = dom.byId('occu_grid_div_input');
                                	inp.value = a_newFileContentString;
                                	a_saveCompleteCallback();
                                	};   


    
    var global_edit_allowed = true;
    
    var live_layout = [[
      {'name': 'Datum', 'field': 'date', 'width': '100px', editable: false, type: dojox.grid.cells.DateTextBox, formatter: formatDate, getValue: getDateValue},
      {'name': 'Tid', 'field': 'time', 'width': '50px', editable:false},      
      {'name': 'Bo tält', 'field': 'ute', 'width': '100px', editable: global_edit_allowed},
      {'name': 'Bo inne', 'field': 'inne', 'width': '60px', editable:global_edit_allowed},  
      {'name': 'Bo dagsbesök', 'field': 'daytrip', 'width': '60px', editable:global_edit_allowed}
      
    ]];
    
    
var eat_layout = [[
      {'name': 'Datum', 'field': 'date', 'width': '100px', editable: false, type: dojox.grid.cells.DateTextBox, formatter: formatDate, getValue: getDateValue},
      {'name': 'Tid', 'field': 'time', 'width': '50px', editable: false},      
      {'name': 'Ute', 'field': 'inne', 'width': '60px', editable:global_edit_allowed},
      {'name': 'Inne', 'field': 'ute', 'width': '60px', editable:global_edit_allowed},
      {'name': 'Egen', 'field': 'egen', 'width': '60px', editable:global_edit_allowed},
      
   
    ]];
	
var occu_layout = [[
      {'name': 'Datum', 'field': 'date', 'width': '100px', editable: false, type: dojox.grid.cells.DateTextBox, formatter: formatDate, getValue: getDateValue},
      {'name': 'Tid', 'field': 'time', 'width': '50px', editable: false},      
      {'name': 'Doktor', 'field': 'funk_doctor', 'width': '60px', editable:global_edit_allowed},
      {'name': 'Program', 'field': 'funk_program', 'width': '60px', editable:global_edit_allowed},
      {'name': 'Kursdelt vö', 'field': 'delt_course', 'width': '60px', editable:global_edit_allowed},
      {'name': 'Kursdelt SSRS', 'field': 'delt_course', 'width': '60px', editable:global_edit_allowed}
    ]];

    //... create a new grid
   

	 var live_grid_grid = new DataGrid({
        id: 'live_grid',
        store: live_grid_store,
        structure: live_layout,
        rowSelector: '10px'});
        
        
    var eat_grid_grid = new DataGrid({
        id: 'eat_grid',
        store: eat_grid_store,
        structure: eat_layout,
        rowSelector: '10px'});
        
        
   var occu_grid_grid = new DataGrid({
        id: 'occu_grid',
        store: occu_grid_store,
        structure: occu_layout,
        rowSelector: '10px'});



    function on_save_grid_to_input() {
    	//...find dojo store and serialize it. Should be simple. Then write serialized data into 
    	//alert('storing...');
    	live_grid_store.save(saveCompleteCallback, saveFailedCallback);
    	eat_grid_store.save(saveCompleteCallback, saveFailedCallback);
    	occu_grid_store.save(saveCompleteCallback, saveFailedCallback);
    	
    	};
    	
    
    
    
    
    function on_validate() {
      var myForm = dijit.byId('myForm');
    	if(myForm.validate()){
            //var result = confirm('Form is valid, press OK to submit');
            
            return true;
        } else {
            alert('Form contains invalid data.  Please correct first');
            return false;
        }
        return true;
    }
    
    
    function on_validate_finalize() {
      var myForm = dijit.byId('myForm');
    	if(myForm.validate()){
            var result = confirm('Form is valid and ready to be sent for processing, pressing OK will submit your requests and thereafter you cannot change your request data except for contact info and request text');
            
            return result;
        } else {
            alert('Form contains invalid data.  Please correct first');
            return false;
        }
        return true;
    }
    
    
    function on_ready(){
      var save_button = dijit.byId('save_button');
      on( save_button , 'click', on_save_grid_to_input );
		on( save_button , 'click', on_validate); 
		
      // startup grid
		live_grid_grid.placeAt('live_grid_div');
      live_grid_grid.startup();
      eat_grid_grid.placeAt('eat_grid_div');
      eat_grid_grid.startup();
      occu_grid_grid.placeAt('occu_grid_div');
      occu_grid_grid.startup();
     
    }
    	
      ready(on_ready);
      
        
      
});

</script>

<script>
require(["dojo/parser", "dijit/form/Form", "dijit/form/Button", "dijit/form/ValidationTextBox", "dijit/form/DateTextBox"]);
</script>
</head>

<body class="tundra">
    <h2>Edit vodb group ${vodb_group.name}</h2>

	<p>Stays: <b>${reFormatDate(vodb_group.from_date)} - ${reFormatDate(vodb_group.to_date)}</b></p>
	<div class="note">
    Vodb status: <b>${bokn_status_map[vodb_group.vodb_status]}</b><br/>
    Contact info:<br/>
    <b>$vodb_group.vodb_contact_name</b><br/>
    <b>$vodb_group.vodb_contact_email</b><br/>
    <b>$vodb_group.vodb_contact_phone</b><br/>
    <b>$vodb_group.vodb_contact_address</b><br/>
    
    <p>SKAPA KORRIGERA DEFAULT DATA FOR TABELLER SOM VISAS. OM DATA INTE FINNS: SKAPA FM EM KVALL etc. OM DATA OUT OF DATE RANGE EXIST and all data zero ta bort</p>
    
    <p>${HTML(vodb_group.info)}</p>
</div>    
    <div data-dojo-type="dijit/form/Form" id="myForm" data-dojo-id="myForm" encType="multipart/form-data" action="update_group_tables" method="post">

    <div>
    	<label for="live_grid_div">Live:</label><br/>        		
    	<div id="live_grid_div" style="height:600px;"><input type="hidden" id="live_grid_div_input" name="live_table"/></div>
    	</div>
    
    	<div>    
    	<label for="eat_grid_div">Eat:</label><br/>
    	<div id="eat_grid_div" style="height:600px;"><input type="hidden" id="eat_grid_div_input" name="eat_table"/></div>
    	</div>

    	<div>    
    	<label for="occu_grid_div">Occu:</label><br/>
    	<div id="occu_grid_div" style="height:600px;"><input type="hidden" id="occu_grid_div_input" name="occu_table"/></div>
    	</div>

    
		<input type="hidden" name="vgroup_id" value="$vodb_group._id"/>
    	<button data-dojo-type="dijit/form/Button" type="submit" name="saveButton" value="Save" id="save_button">Save</button>
	</div>
</body>
</html>