<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:py="http://genshi.edgewall.org/" xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />

<head>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
  <title>${result_title}</title>
  <script type="text/javascript" src="${tg.url('/scripts/std.js')}" ></script>
</head>

<body>
    ${XML(workflow_submenu)}
    <h2>${result_title}</h2>
    
    <table class="data">
        <tr>
            <th>booking_state</th>
            <th>group</th>
            <th>activity</th>
            <th>content</th>
            <th>scheduleing info</th>
            <th>last changed by</th>
        </tr>
        <tr py:for="b in scheduled_bookings">
            <td class="data info"><span class="workflow_state_${str(b.booking_state)}">${workflow_map[b.booking_state]}</span> 
                <ul class="any_menu context_inline_menu">
                    <li><a href="${tg.url('set_state', booking_id=b.id, state=10)}">booked</a></li>
                    <li><a href="${tg.url('set_state', booking_id=b.id, state=20)}">approve</a></li>
                    <li><a href="${tg.url('set_state', booking_id=b.id, state=-10)}">disapprove</a></li>
                    <li><a href="${tg.url('set_state', booking_id=b.id, state=0)}">preliminary</a></li>
                </ul></td>
            <td class="data info"><a href="${tg.url('/visiting_group/view_bookings_of_name',name=b.visiting_group_name)}">${b.visiting_group_name}</a></td>
            <td class="data info">${b.activity_id}</td>
            <td class="data info">${b.cache_content}</td>
            
            <td class="data info"><a href="${tg.url('/booking/day',day_id=b.booking_day_id)}">booked ${b.booking_day_id} between <!-- ${b.slot_row_position.time_from.strftime('%H:%M')} to ${b.slot_row_position.time_to.strftime('%H:%M')} --></a></td>
            <td class="data info">${b.last_changed_by_id}</td>
        </tr>
    </table>
</body>
</html>
